body {margin:0; font-family:Arial, Helvetica, sans-serif; font-size:12px}
#slider {width:99%;}
.header {width:98%; color:#747464;border:2px solid #c1c1a4; padding:4px; font-weight:bold; margin-top:2px; cursor:pointer; background-color:#e1e1c1}
.header:hover {background:url(http://www.bizzona.ru/cabinet/images/header_over.gif)}
.content {overflow:hidden}
.text {width:98%; border:2px solid #9ac1c9; border-top:none; padding:15px; text-align: left;}