{if strlen($bannerads->bannertop_right.nameFile) > 0}
	<div align="center" style="width:100%;">
    {if $bannerads->bannertop_right.typeAdsId == 2}
		<div align="center" style="padding:2pt;margin:0pt;">
			<a href="{$bannerads->bannertop_right.url}"><img src="http://www.bizzona.ru/ads/{$bannerads->bannertop_right.nameFile}" border="0"></a>	
		</div>			
    {elseif $bannerads->bannertop_right.typeAdsId == 1}
			<div align="center" style="padding:0pt;margin:0pt;">
				<object width="260" height="200">
					<param name="movie" value="http://www.bizzona.ru/ads/{$bannerads->bannertop_right.nameFile}">
					<embed src="http://www.bizzona.ru/ads/{$bannerads->bannertop_right.nameFile}" width="260" height="200"></embed>
				</object>
			</div>		
	{else}
	{/if}
	</div>
{/if}