{if strlen($bannerads->bannermiddle_right.nameFile) > 0}
    {if $bannerads->bannermiddle_right.typeAdsId == 2}
		<div align="center" style="padding:2pt;margin:0pt;">
			<a href="{$bannerads->bannermiddle_right.url}"><img src="http://www.bizzona.ru/ads/{$bannerads->bannermiddle_right.nameFile}" border="0"></a>	
		</div>			
    {elseif $bannerads->bannermiddle_right.typeAdsId == 1}
			<div align="center" style="padding:0pt;margin:0pt;">
				<object width="260" height="200">
					<param name="movie" value="http://www.bizzona.ru/ads/{$bannerads->bannermiddle_right.nameFile}">
					<embed src="http://www.bizzona.ru/ads/{$bannerads->bannermiddle_right.nameFile}" width="260" height="200"></embed>
				</object>
			</div>		
	{else}
	{/if}
{/if}