 <table border=0 width='100%' cellpadding="0" cellspacing="0" valign='top'> 
  <th style="background-image: url(../../images/submenu.gif); background-repeat: repeat-x;"><span style='color:white;font-family:verdana;font-size:10pt;'>Категории бизнеса</span></th>

  <tr>
   <td>
     <select> 
  {foreach name=categorys key=key item=item from=$data}
    {*
     <td bgcolor={cycle values="#BCD1E3, #B6B6B2"} style='padding-left:5px;' nowrap><a href='/searchsell/category/{$item->ID}'  onmouseover="this.style.textDecoration='underline'"   onmouseout="this.style.textDecoration='none'" >{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }<b>{/if}{$item->Name}{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }</b>{/if}</a>&nbsp;({if $item->Count >0}<b>{/if}{$item->Count}{if $item->Count >0}</b>{/if})</td>
     {if $smarty.foreach.country.iteration is div by 1} </tr><tr> {/if}        
    
    *}
    <option><a href='/searchsell/category/{$item->ID}'  onmouseover="this.style.textDecoration='underline'"   onmouseout="this.style.textDecoration='none'" >{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }<b>{/if}{$item->Name}{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }</b>{/if}</a>&nbsp;({if $item->Count >0}<b>{/if}{$item->Count}{if $item->Count >0}</b>{/if})</option>
  {/foreach}
     </select>
   </td>
  </tr>
</table>