<div class="scroll-table" style="height:250pt;width:100%;">
	<div class="lftpadding_frd" style=" font-family:Arial; font-size:13pt; color:#7C3535; font-weight: bold; padding-top: 5pt; padding-bottom: 5pt;">Категории оборудования</div>
  		{foreach name=categorys key=key item=item from=$data}		
  			{if $item->CountE >0}
			<div class='{cycle values="leftmenu_1, leftmenu_0"}' style='{if $smarty.get.ID eq $item->ID && $smarty.get.action == "typeBizID" }background-color:#b3b3ad;{/if}'><a href="{$smarty.const.NAMESERVER}searchequipment/typeBizID/{$item->ID}" class="category_a" title="{$item->keysellequipment}">{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }{/if}{$item->Name}</a><span class="category_a">{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }{/if}&nbsp;<span class="type_a_clr">({$item->CountE})</span></span></div>
			{else}
			{/if}
  		{/foreach}                
    </div>
</div>  
