{if sizeof($datasubcity) > 0}

<div style="padding-left:5pt;">

<table cellpadding="0" cellspacing="0" border="0"  style="width:100%;" bgcolor="#006699">
	<tr>
    	<td style="background-image:url({$smarty.const.NAMESERVER}images/b1.gif); background-repeat:no-repeat;width:5px;height:5px; background-position:top;">&nbsp;</td>
		<td rowspan="2" valign="middle" align="left">
			<ul style="color:white;">
			{foreach name=country key=key item=item from=$datasubcity}
				{if strlen($item->city_url) > 0}
					<li><a href="{$item->city_url}" class="city_a_c" title="{$item->seosell}" >{$item->seosell}</a> <span class="count">{if $item->Count > 0}({$item->Count}){else}{/if}</span>
				{else}
				{/if} 
			{/foreach}	
			</ul>
			&nbsp;
		</td>
		<td style="background-image:url({$smarty.const.NAMESERVER}images/b2.gif); background-repeat:no-repeat;width:5px;height:5px; background-position:top;">&nbsp;</td>
	</tr>
	<tr>
		<td style="background-image:url({$smarty.const.NAMESERVER}images/b4.gif); background-repeat:no-repeat;width:5px;height:5px; background-position:bottom;">&nbsp;</td>
		<td style="background-image:url({$smarty.const.NAMESERVER}images/b3.gif); background-repeat:no-repeat;width:5px;height:5px; background-position:bottom;">&nbsp;</td>
	</tr>
</table>		

</div>

{else}
{/if}
