<table class="w" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td>
			<div class="tblcity lftpadding_cnt">{$aCountry.title}</div> 
		</td>
	</tr>
	<tr>
		<td>
		
			<div class="lftpadding_cnt">
				<table style="width:99%;border-top: 1px; border-bottom: 1px; border-left:1px;  border-right:1px;  border-color:#C1C1A4;  border-style: solid;background-color:#fafaf9;"> 
					<tr>
					   		{foreach key=key item=item from=$aCountry.country}
					   			<td width="16%" valign="top">
					   			{foreach key=k item=i from=$item}
									<div class="bc2" style="padding-left:2pt;margin:1pt;background-color:#f8f8f4;">
										<a href="{$i.url}" class="city_a" title="{$i.title}" >{$i.name}</a>
									</div>					   				
					   			{/foreach}
					   			</td>
					   		{/foreach}
					   </td>
					</tr>
				</table>
			</div>		   		

		</td>
	</tr>
</table>