{foreach name='sub' item=i key=k from=$a_seoname}
	<div class="type_div" nowrap style="color:#7C3535;font-size:9pt;font-family:arial;"><a href="{$smarty.const.NAMESERVER}localsearch.php?action=category&ID={$a_seoname_category}&subcategory={$a_seoname_subcategory}" class="type_a" title="{$i}" {if isset($smarty.get.subcategory) and $smarty.get.subcategory eq $i->SubCategoryID}style="font-weight:bold;"{else}{/if} >{$i}</a></div>
		{if $smarty.foreach.sub.last}
		{else}
			<div class="type_div"><img src="{$smarty.const.NAMESERVER}images/splitype.gif" /></div>
		{/if}
{/foreach}