{if strlen($bannerads->headerbanner.nameFile) > 0}

<table class="w" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%" bgcolor="#e4e4e2">

    {if $bannerads->headerbanner.typeAdsId == 2}
		<div align="center" style="padding:2pt;margin:0pt;">
			<a href="{$bannerads->headerbanner.url}"><img src="http://www.bizzona.ru/ads/{$bannerads->headerbanner.nameFile}" border="0"></a>	
		</div>			
    {elseif $bannerads->headerbanner.typeAdsId == 1}
			<div align="center" style="padding:0pt;margin:0pt;">
				<object width="100%" height="60">
					<param name="movie" value="http://www.bizzona.ru/ads/{$bannerads->headerbanner.nameFile}">
					<embed src="http://www.bizzona.ru/ads/{$bannerads->headerbanner.nameFile}" width="260" height="200"></embed>
				</object>
			</div>		
	{else}
	{/if}
	
		</td>
	</tr>
</table>	
	
{/if}