<div class="lftpadding_cnt" style="padding-top:10pt; padding-bottom: 5pt;padding-top:0pt; padding-bottom:0pt; width:auto;" >
<table class="w" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td bgcolor="#d9d9b9">
			<div class="tblcity lftpadding_cnt">{$seocity->seosell}</div>
		</td>
	</tr>
	<tr>
		<td>
			<div class="lftpadding_cnt" style="background-color:#eeeee0;padding-top:5pt;padding-bottom:5pt;">
				{if $countRowsCity}
					{assign var="rows" value=$countRowsCity}
				{else}
					{assign var="rows" value=2}
				{/if}
				<table class="w" border="0" cellpadding="0" cellspacing="0">
					<tr>
						{foreach name=country key=key item=item from=$dataseocity}
							<td>
								<div class="bc2"><a href="{$smarty.const.NAMESERVER}searchsell/city/{$item->ID}" class="city_a" title="{$item->seosell}">{$item->seosell}&nbsp;</a><span class="type_a_clr">({$item->Count})</span></div></td>
								{if $smarty.foreach.country.iteration is div by $rows}</tr><tr>{/if}
						{/foreach}
					</tr>
				</table>
			</div>
		</td>
	</tr>
</table>

<br/>
<div style="width:auto;">
	<div  style="background-image:url(http://www.bizzona.ru/images/bl.gif); background-repeat:repeat-x;">&nbsp;</div>
</div>
</div>
