<title>{$info->title}</title>
<link>{$info->link}</link>
<description>{$info->description}</description> 
<category>{$info->category}</category> 
<language>{$info->language}</language> 
<copyright>{$info->copyright}</copyright> 
<webMaster>{$info->webmaster}</webMaster> 
<generator>{$info->generator}</generator> 
<image>
  <url>{$info->imglink}</url>
  <title>{$info->title}</title>
  <link>{$info->link}</link>
</image>
<lastBuildDate>{$info->lastbuilddate}</lastBuildDate> 
<ttl>{$info->ttl}</ttl> 