{if strlen($bannerads->inner_bannertop_right.nameFile) > 0}
<div align="center" style="padding:2pt;background-color:#eeeee0;">

<table class="w"  cellpadding="0" cellspacing="0" border="0">
   <tr>
      <td class="nb_h1_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_lt.gif);"></td>
      <td bgcolor="#e4e4e2" class="nb_10_12" style="background-image:url({$smarty.const.NAMESERVER}images/nd_b_10_12.gif);" width="99%"></td>
      <td class="nb_h2_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_rt.gif);"></td>
   </tr>
   <tr>
   	<td class="nb_border_l_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_border_10.gif);"></td>
   	<td bgcolor="#e4e4e2" align="center">


    {if $bannerads->inner_bannertop_right.typeAdsId == 2}
		<div align="center" style="padding:2pt;margin:0pt;">
			<a href="{$bannerads->inner_bannertop_right.url}"><img src="http://www.bizzona.ru/ads/{$bannerads->inner_bannertop_right.nameFile}" border="0"></a>	
		</div>			
    {elseif $bannerads->inner_bannertop_right.typeAdsId == 1}
			<div align="center" style="padding:0pt;margin:0pt;">
				<object width="260" height="200">
					<param name="movie" value="http://www.bizzona.ru/ads/{$bannerads->inner_bannertop_right.nameFile}">
					<embed src="http://www.bizzona.ru/ads/{$bannerads->inner_bannertop_right.nameFile}" width="260" height="200"></embed>
				</object>
			</div>		
	{else}
	{/if}
	
   	</td>
   	<td class="nb_border_r_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_border_10.gif);"></td>
   </tr>
   <tr>
      <td class="nb_h4_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_lb.gif);"></td>
      <td bgcolor="#e4e4e2" class="nb_10_12" style="background-image:url({$smarty.const.NAMESERVER}images/nd_b_10_12.gif);" width="99%"></td>
      <td class="nb_h3_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_rb.gif);"></td>
   </tr>
</table>
	
</div>	
{/if} 