<item>
  <title>{$row->NameBizID}</title> 
  <link>{$row->link}</link> 
  <description>{$row->ShortDetailsID}</description> 
  <category>{$row->category}</category> 
  <pubDate>{$row->DateStart}</pubDate> 
  <author>{$row->FML}</author> 
  <city>{$row->CityID}</city>
  <address>{$row->SiteID}</address>
  <cost>{$row->CostID}</cost>
</item>