<span style="color:white;"><a href='http://www.bizzona.ru/searchsell/category/{$datasell->CategoryID}'  class='sub_menu'>{NameCategory ID=$datasell->CategoryID}</a></span>
{if intval($datasell->SSubCategoryID) >0}<span style="color:white;">{GetLinkToSubCategory_1 ID=$datasell->SSubCategoryID}</span>{else}{/if}
{if $optimization_category->useownurl == 1 && strlen($optimization_category->seotitle) > 0}
<span style="color:white;">&nbsp;>&nbsp;</span><span style="color:white;"><a href="{$optimization_category->url}" class='sub_menu' title="{$optimization_category->seo}">{$optimization_category->seotitle}</a></span>
{else}
<span style="color:white;">&nbsp;>&nbsp;</span><span style="color:white;"><a href="http://www.bizzona.ru/prodam-biznes/{$optimization_category->regionId}/{$optimization_category->categoryId}/{$optimization_category->url}" class='sub_menu' title="{$optimization_category->seo}">{$optimization_category->seotitle}</a></span>
{/if}

