{if strlen($bannerads->bannermiddle_middle.nameFile) > 0}
    {if $bannerads->bannermiddle_middle.typeAdsId == 2}
		<div align="center" style="padding:2pt;margin:0pt;">
			<a href="{$bannerads->bannermiddle_middle.url}"><img src="http://www.bizzona.ru/ads/{$bannerads->bannermiddle_middle.nameFile}" border="0"></a>	
		</div>			
    {elseif $bannerads->bannermiddle_middle.typeAdsId == 1}
			<div align="center" style="padding:0pt;margin:0pt;">
				<object width="100%" height="90">
					<param name="movie" value="http://www.bizzona.ru/ads/{$bannerads->bannermiddle_middle.nameFile}">
					<embed src="http://www.bizzona.ru/ads/{$bannerads->bannermiddle_middle.nameFile}" width="100%" height="90"></embed>
				</object>
			</div>		
	{else}

	{/if}
{/if} 