<div class="lftpadding_cnt w" style="padding-top:10pt; padding-bottom: 5pt;height:20pt; padding-top:0pt; padding-bottom:0pt;width:auto;" >
	<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#7C3535" style="height:100%;">
    	<tr>
        	<td valign="middle" align="left" style="padding-left:3pt; font-size:12pt;font-family:Arial;color:White;font-weight:bold; vertical-align:middle;">

        		Продажа бизнеса "Найденные предложения"
        		
        	</td>
            <td valign="middle" align="right" style="vertical-align:middle; padding-right:4pt;">
            
      {if $smarty.get.action}
        {if $smarty.get.action == "city"}
          <a href='{$smarty.const.NAMESERVER}rss/city/{$smarty.get.ID}' style=" font-size:10pt; font-family:Arial; color:White; font-weight:bold;">&nbsp;rss&nbsp;</a>
        {elseif $smarty.get.action == "category"}
          <a href='{$smarty.const.NAMESERVER}rss/category/{$smarty.get.ID}' style=" font-size:10pt; font-family:Arial; color:White; font-weight:bold;">&nbsp;rss&nbsp;</a>
        {elseif $smarty.get.action == "topbiz"}
          <a href='{$smarty.const.NAMESERVER}rss/topbiz/{$smarty.get.name}' style=" font-size:10pt; font-family:Arial; color:White; font-weight:bold;">&nbsp;rss&nbsp;</a>
        {/if}
      {else}
        <a href='{$smarty.const.NAMESERVER}rss/allbiz/' style=" font-size:10pt; font-family:Arial; color:White; font-weight:bold;">&nbsp;rss&nbsp;</a>
      {/if}
            	
            </td>
            <td><img src="{$smarty.const.NAMESERVER}images/rss.gif"/></td>
        </tr>
    </table>
</div>






