{if isset($insertsettings.promo)}
    <table class="w" bgcolor="#bdcbea" border="0" style='border-top: 1px; border-bottom: 1px; border-left:1px;  border-right:1px;  border-color:#C1C1A4;  border-style: solid;'>
        <tr>
            <td style="font-size:14pt;padding:5pt;">
                {$insertsettings.promo}
            </td>
        </tr>
    </table>        
{/if}
    