 <div class="lftpadding_cnt" style="padding-top:10pt; padding-bottom: 5pt; width:auto;">
	<table border="0" cellpadding="0"  cellspacing="0" width="100%">
	<tr>
		<td align="left">
		
		{foreach name='sub' item=i key=k from=$subbizcategory}
			<div class="type_div" nowrap><a href="{$smarty.const.NAMESERVER}rsslist.php?categoryId={$i->CategoryID}&subCategoryId={$i->SubCategoryID}{if isset($smarty.get.parentRegionId)}&parentRegionId={$smarty.get.parentRegionId}{else}{/if}" class="type_a" title="{$i->SeoName}" {if isset($smarty.get.subcategory) and $smarty.get.subcategory eq $i->SubCategoryID}style="font-weight:bold;"{else}{/if} >{$i->Name}</a>&nbsp;<a href="{$smarty.const.NAMESERVER}localsearch.php?action=category&ID={$smarty.get.ID}&subcategory={$i->SubCategoryID}" class="type_a" {if isset($smarty.get.subcategory) and $smarty.get.subcategory eq $i->SubCategoryID}style="font-weight:bold;"{else}{/if} ></a></div>
			{if $smarty.foreach.sub.last}
			{else}
				<div class="type_div"><img src="{$smarty.const.NAMESERVER}images/splitype.gif" /></div>
			{/if}
		{/foreach}
		</td>
	</tr>			
	</table>
</div>