<div {if sizeof($datasubcity) > 13}class="scroll-table" style="height:200pt;"{else}{/if}>
<div style="padding-left:5pt;font-family:Arial; font-size:13pt; color:#7C3535; font-weight: bold; padding-top: 5pt; padding-bottom: 5pt;"><nobr>{$selectsubcitytitle}</nobr></div>
	{foreach name=country key=key item=item from=$datasubcity}
	<div class='{cycle values="leftmenu_1, leftmenu_0"}'><a href="{$smarty.const.NAMESERVER}searchsell.php?action=city&ID={$item->parentID}&subCityID={$item->ID}" class="category_a" title="{$item->seosell}">{$item->title}</a>&nbsp;<span class="type_a_clr">({$item->Count})</span></div>
	{/foreach}
</div>
</div>