{if strlen($seoarticle) > 0}
<div style="padding:7pt;"> 
<table class="w"  cellpadding="0" cellspacing="0" border="0">
   <tr>
      <td class="nb_h1_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_lt.gif);"></td>
      <td bgcolor="#e4e4e2" class="nb_10_12" style="background-image:url({$smarty.const.NAMESERVER}images/nd_b_10_12.gif);" width="99%"></td>
      <td class="nb_h2_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_rt.gif);"></td>
   </tr>
   <tr>
   	<td class="nb_border_l_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_border_10.gif);"></td>
   	<td bgcolor="#e4e4e2">
   	<div class="sd">{$seoarticle}</div>
   	</td>
   	<td class="nb_border_r_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_border_10.gif);"></td>
   </tr>
   <tr> 
      <td class="nb_h4_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_lb.gif);"></td>
      <td bgcolor="#e4e4e2" class="nb_10_12" style="background-image:url({$smarty.const.NAMESERVER}images/nd_b_10_12.gif);" width="99%"></td>
      <td class="nb_h3_gif" style="background-image:url({$smarty.const.NAMESERVER}images/nd_g_rb.gif);"></td>
   </tr>
</table>   	
</div>
{/if}