<div class="lftpadding_cnt" style="padding-top:10pt; padding-bottom: 5pt;padding-top:0pt; padding-bottom:0pt; width:auto;" >	    
	<table border="0" align="right">
   		<tr>
   			<td align="right">
				<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
				<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug"></div>
   			</td>
   			{if isset($yawidget)}
   			<td>
   				{$yawidget}
   			</td>   			
   			{else}
   			{/if}
		</tr>
	</table>
</div>