<div style="height:20pt;width:auto;" align="right" >	
	<table border="0">
    	<tr>
        	<td>
				<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
				<div class="yashare-auto-init" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj,friendfeed,moikrug"></div>        	
			</td>		
			<td>
				<noindex><a href="http://twitter.com/BizzonaRu"><img src="http://www.bizzona.ru/simg/twitter.jpg" border="0"></a></noindex>
			</td>		
		</tr>
	</table>
</div>
