<div class="lftpadding_cnt" style="padding-top:10pt; padding-bottom: 5pt; width:auto;">
	<table style="width:99%;border-top: 1px; border-bottom: 1px; border-left:1px;  border-right:1px;  border-color:#C1C1A4;  border-style: solid;background-color:#f6f6f5;margin:2pt;">
	<tr>
		<td align="left">
		{foreach name='sub' item=i key=k from=$subbizcategory}
			<div class="type_div" nowrap><a href="{$smarty.const.NAMESERVER}searchequipment.php?action=typeBizID&ID={$smarty.get.ID}&subCategory_id={$i->subCategory_id}" class="type_a" title="{$i->SeoName}" {if isset($smarty.get.subCategory_id) and $smarty.get.subCategory_id eq $i->subCategory_id}style="font-weight:bold;"{else}{/if} >{$i->Name}&nbsp;</a><span class="type_a_clr">({$i->Count})</span></div>
			{if $smarty.foreach.sub.last}
			{else}
				<div class="type_div" style="padding-top:2pt;"><span class="type_a_clr">|</span></div>
			{/if}
		{/foreach}
		</td>
	</tr>			
	</table> 
</div>