<div class="lftpadding_cnt" style="padding-top:10pt; padding-bottom: 5pt; width:auto;">
	<table border="0" cellpadding="0"  cellspacing="0" width="100%">
	<tr>
		<td align="left">
		
		{foreach name='sub' item=i key=k from=$subbizcategory}
			<div class="type_div" nowrap><a href="{$smarty.const.NAMESERVER}searchinvestments.php?action=typeBizID&ID={$smarty.get.ID}&subCategory_id={$i->subCategory_id}" class="type_a" title="{$i->SeoName}" {if isset($smarty.get.subCategory_id) and $smarty.get.subCategory_id eq $i->subCategory_id}style="font-weight:bold;"{else}{/if} >{$i->Name}</a>&nbsp;<span class="type_a_clr">({$i->Count})</span></div>
			{if $smarty.foreach.sub.last}
			{else}
				<div class="type_div"><img src="{$smarty.const.NAMESERVER}images/splitype.gif" /></div>
			{/if}
		{/foreach}
		</td>
	</tr>			
	</table>
</div>