{if sizeof($datasubcity) <= 0}
<div class="lftpadding_cnt" style="width: auto;">
	<div  style="background-image:url({$smarty.const.NAMESERVER}images/bl.gif); background-repeat:repeat-x;"><img src="{$smarty.const.NAMESERVER}images/bl.gif"></div>
</div>
{/if}
<div class="lftpadding_cnt" style="padding-top:10pt; padding-bottom: 5pt; width:auto;">
	<table border="0" cellpadding="0"  cellspacing="0" width="100%">
	<tr>
		<td align="left" width="100%">
		
		{foreach name='sub' item=i key=k from=$subbizcategory}
			<div class="type_div" nowrap><a href="{$smarty.const.NAMESERVER}localsearch.php?action=category&ID={$smarty.get.ID}&subcategory={$i->SubCategoryID}" class="type_a" title="{$i->SeoName}" {if isset($smarty.get.subcategory) and $smarty.get.subcategory eq $i->SubCategoryID}style="font-weight:bold;"{else}{/if} >{$i->Name}</a>&nbsp;<span class="type_a_clr" {if isset($smarty.get.subcategory) and $smarty.get.subcategory eq $i->SubCategoryID}style="font-weight:bold;"{else}{/if} >({$i->Count})</span>
			{if $smarty.foreach.sub.last}
			{else}
				&nbsp;&nbsp;<img src="{$smarty.const.NAMESERVER}images/splitype.gif" />
			{/if}
			</div>
		{/foreach}
		</td>
	</tr>			
	</table>
</div>
<div class="lftpadding_cnt" style="width: auto;">
	<div  style="background-image:url({$smarty.const.NAMESERVER}images/bl.gif); background-repeat:repeat-x;"><img src="{$smarty.const.NAMESERVER}images/bl.gif"></div>
</div>
