{if sizeof($datasubcity) > 0}
<div class="lftpadding_cnt" style="width: auto;">
<table style="width:99%;border-top: 1px; border-bottom: 1px; border-left:1px;  border-right:1px;  border-color:#C1C1A4;  border-style: solid;background-color:#f6f6f5;margin:2pt;" ><tr><td><div class="tblcity lftpadding_cnt">{$citytitleparent}</div></td></tr><tr><td><div class="lftpadding_cnt">{if $countRowsCity}{assign var="rows" value=$countRowsCity}{else}{assign var="rows" value=3}{/if}<table class="w" border="0" cellpadding="0" cellspacing="0"><tr>{foreach name=country key=key item=item from=$datasubcity}<td width="{if $smarty.foreach.country.iteration > $rows*$items}40%{else}25%{/if}">{if $smarty.foreach.country.iteration <= $rows*$items}<div class="bc2"><a href="{$smarty.const.NAMESERVER}searchequipment.php?action=city&ID={$item->parentID}&subCity_id={$item->ID}" class="city_a" title="{$item->seobuy}" >{$item->title}&nbsp;({$item->Count})</a></div>{/if}</td>{if $smarty.foreach.country.iteration is div by $rows}</tr><tr>{/if}{/foreach}</tr></table></div>
		</td>
	</tr>
</table>
</div>
{else}
{/if}