<table border=0 width='100%'  valign='top' cellpadding="0" cellspacing="1" bgcolor='#A6A69A'> 
  <th style="background-image: url(http://www.bizzona.ru/images/submenu.gif); background-repeat: repeat-x;"><span style='color:white;font-family:arial;font-size:10pt;'>Категории бизнеса</span></th>
  <tr>
  {foreach name=categorys key=key item=item from=$subCategoryData}
     <td bgcolor={cycle values="#B6B6B2, #D3D3CE"} style='padding-left:5px;' nowrap>
       <!--a href='http://www.bizzona.ru/rss/category/{$item->ID}' class='rss'  >&nbsp;rss&nbsp;</a-->
       <a href='http://www.bizzona.ru/searchsell/category/{$item->ID}' style="font-family:arial;"  onmouseover="this.style.textDecoration='underline'"   onmouseout="this.style.textDecoration='none'" >{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }<b>{/if}{$item->Name}{if $smarty.get.ID eq $item->ID && $smarty.get.action == "category" }</b>{/if}</a></td>
     {if $smarty.foreach.country.iteration is div by 1} </tr><tr> {/if}        
  {/foreach}
  </tr>
</table>
