{if sizeof($datasubcity) > 0}
<div class="lftpadding_cnt" style="width: auto;">
	<div  style="background-image:url({$smarty.const.NAMESERVER}images/bl.gif); background-repeat:repeat-x;"><img src="{$smarty.const.NAMESERVER}images/bl.gif"></div>
</div>
<table class="w" border="0" cellpadding="0" cellspacing="0"><tr><td><div class="tblcity lftpadding_cnt">{$citytitleparent}</div></td></tr><tr><td><div class="lftpadding_cnt">{if $countRowsCity}{assign var="rows" value=$countRowsCity}{else}{assign var="rows" value=5}{/if}<table class="w" border="0" cellpadding="0" cellspacing="0"><tr>{foreach name=country key=key item=item from=$datasubcity}<td width="{if $smarty.foreach.country.iteration > $rows*$items}20%{else}20%{/if}">{if $smarty.foreach.country.iteration <= $rows*$items}<div class="bc2"><a href="{$smarty.const.NAMESERVER}searchsell.php?action=city&ID={$item->parentID}&subCityID={$item->ID}" class="city_a" title="{$item->seosell}" >{$item->title}</a><span class="cnt_show_city">({$item->Count})</span></div>{/if}</td>{if $smarty.foreach.country.iteration is div by $rows}</tr><tr>{/if}{/foreach}</tr></table></div>
		</td> 
	</tr>
</table>
<div class="lftpadding_cnt" style="width: auto;">
	<div  style="background-image:url({$smarty.const.NAMESERVER}images/bl.gif); background-repeat:repeat-x;"><img src="{$smarty.const.NAMESERVER}images/bl.gif"></div>
</div>
{else}
{/if}