<div class="lftpadding_cnt w" style="padding-top:10pt; padding-bottom: 5pt;height:20pt; padding-top:0pt; padding-bottom:0pt;width:auto;" >
	<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#7C3535" style="height:100%;">
    	<tr>
        	<td valign="middle" align="left" style="padding-left:3pt; font-size:12pt;font-family:Arial;color:White;font-weight:bold; vertical-align:middle;">
        		Предложения от покупателей
        	</td>
            <td valign="middle" align="right" style="vertical-align:middle; padding-right:4pt;">
            	
            </td>
            <td></td>
        </tr>
    </table>
</div>






