<table cellpadding="0" cellspacing="0" border="0"  class="w">
   <tr>
      <td class="res_h1_gif" style="background-image:url(http://www.bizzona.ru/images/res_w_tl.gif);"></td>
      <td bgcolor="#e4e4e2"></td>
      <td class="res_h2_gif" style="background-image:url(http://www.bizzona.ru/images/res_w_tr.gif);"></td>
   </tr>
   <tr>
   	<td bgcolor="#e4e4e2"></td>
   	<td bgcolor="#e4e4e2">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
        		<td align="center">
        			<a href="http://www.bizzona.ru/vacancies.php" class="city_a" style="font-size:10pt;color:#006699;" title="Вакансии">Вакансии</a>
        		</td>
   			</tr>
		</table>
   	</td>
   	<td bgcolor="#e4e4e2"></td>
   </tr>
   <tr>
      <td class="res_h4_gif" style="background-image:url(http://www.bizzona.ru/images/res_w_bl.gif);"></td>
      <td bgcolor="#e4e4e2"></td>
      <td class="res_h3_gif" style="background-image:url(http://www.bizzona.ru/images/res_w_br.gif);"></td>
   </tr>
</table>
