<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" align="center">
        <tr>
                <td colspan=2  class="desc_td" align="center" style="padding:6pt;">                
                    {literal}
                    <!-- Put this script tag to the <head> of your page -->
                    <script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

                    <script type="text/javascript">
                      VK.init({apiId: 2247575, onlyWidgets: true});
                    </script>

                    <!-- Put this div tag to the place, where the Comments block will be -->
                    <div id="vk_comments"></div>
                    <script type="text/javascript">
                    VK.Widgets.Comments("vk_comments", {limit: 15, width: "665", attach: "*"});
                    </script>    
                    {/literal}
                </td>
      </tr>          
</table>

