<center>
<div style="padding:6px;">
{literal}

		<script src="http://widgets.twimg.com/j/2/widget.js"></script> 
		<script> 
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 6000,
		  width: 'auto',
		  height: 290,
		  theme: {
			shell: {
			  background: '#7c3535',
			  color: '#ffffff'
			},
			tweets: {
			  background: '#f4f5f7',
			  color: '#8f8f90',
			  links: '#289ee8'
			}
		  },
		  features: {
			scrollbar: false,
			loop: false,
			live: false,
			hashtags: true,
			timestamp: true,
			avatars: false,
			behavior: 'all'
		  }
		}).render().setUser('bizzonaru').start();
		</script> 
		
{/literal}		
</div>
</center>