			<div class="block stream">
				<div class="tl"><div class="tr"></div></div>
				<div class="cl">
					<div class="cr">

<center>
<form target="_top" action="http://subscribe.ru/member/quick" method="get">
<input type="hidden" name="action" value="quick">
<input type="hidden" name="src" value="list_business.school.bizzona">
<table border="0" cellspacing="0" cellpadding="2" width="250px">
<tr><td bgcolor="#ffffff" align="center"><font size="-1" face="Trebuchet MS, Helvetica, sans-serif">Рассылки <a href="http://subscribe.ru/" style="color: #ce2020"><b style="color: #ce2020">Subscribe.Ru</b></a></font></td></tr>
<tr><td bgcolor="#ffffff" align="center" valign="middle">
<INPUT TYPE=hidden NAME=grp VALUE="business.school.bizzona">
<a href="http://subscribe.ru/catalog/business.school.bizzona" target="_top" style="color: #000000;font-size: 10pt; font-family: Trebuchet MS"><strong>Всё об предпринимательстве</strong></a>
</td></tr>
<tr><td bgcolor="#ffffff" align="center" valign="middle">
<input type="text" name="email" size="20" maxlength="100" value="ваш e-mail" style="font-size: 9pt; font-family: Trebuchet MS" onFocus="this.value = '';return false;">
<input  type="submit" value="Подписаться" style="font-size: 9pt; font-family: Trebuchet MS">
</td></tr>
<tr><td align="center"><A HREF="mailto:business.school.bizzona-sub@subscribe.ru?subj=subscribe" style="color: #000000;font-family:Verdana, sans-serif;font-size:10px;">Подписаться письмом</A></td></tr>
</table>
</form>              
</center>

				</div>
			</div>
			<div class="bl"><div class="br"></div></div>
		</div>	