<div class="topic">

{literal}

<!-- Яндекс.Директ -->
<script type="text/javascript">
//<![CDATA[
yandex_partner_id = 45206;
yandex_site_bg_color = 'FFFFFF';
yandex_site_charset = 'windows-1251';
yandex_ad_format = 'direct';
yandex_font_size = 1;
yandex_direct_type = 'horizontal';
yandex_direct_border_type = 'ad';
yandex_direct_limit = 3;
yandex_direct_title_font_size = 1;
yandex_direct_header_bg_color = 'CC9966';
yandex_direct_bg_color = 'eeeee0';
yandex_direct_border_color = 'FBE5C0';
yandex_direct_title_color = '0000CC';
yandex_direct_url_color = '996600';
yandex_direct_text_color = '000000';
yandex_direct_hover_color = '000000';
yandex_direct_favicon = true;
document.write('<sc'+'ript type="text/javascript" src="http://an.yandex.ru/system/context.js"></sc'+'ript>');
//]]>
</script>    
    
{/literal}

</div>
