		html,body{margin:0;padding:0;}
		.topmenu_a
		{
			color:white;
			font-family:arial;
			font-size:11pt;
			text-decoration:none;
		} 
		.topmenu_a_insert
		{
			color:white;
			font-family:arial;
			font-size:11pt;
			text-decoration:none;
		}		
		.topmenu_a_bold
		{
			color:white;
			font-family:arial;
			font-size:11pt;
			font-weight:bold;
		}
		.lftpadding
		{
		    padding-left:36pt;
		}
		
		.present {
			padding-left:5pt;padding-right:5pt;
		}
		
		.lftpadding_frd
		{ 
		    padding-left:5pt;
		}		
		.lftpadding_cnt
		{
		    padding-left:16pt;
		}
		.w
		{
		    width:100%;
		}
		.prc_nrpt
		{
		    background-repeat: no-repeat;
		    width:5px;
		    height:5px;
		}
		.prc_rpt_y
		{
		    background-repeat: repeat-y;
		    height:5pt;
		    width:5px;
		}
		.prc_a
		{
		    font-family:Arial; 
		    font-size: 8pt; 
		    color: #006699; 
		    font-weight:bold;
		}
		.prc_a_none
		{
		    font-family:Arial; 
		    font-size: 8pt; 
		    color: #006699; 
		    font-weight:bold;
		    text-decoration:none;
		}
		
		.city_a_t_m
		{
            font-family:Arial; 
            font-size: 11pt; 
            color: #974807; 
            /*font-weight:middle;*/
		}		
		
		.city_a
		{
            font-family:Arial; 
            font-size: 8pt; 
            color: #006699; 
            font-weight:bold;		
		}
		
		.city_a_m
		{
            font-family:Arial; 
            font-size: 10pt; 
            color: #006699; 
            font-weight:bold;		
		}		

		.city_a_c
		{
            font-family:Arial; 
            font-size: 8pt; 
            color: #ffffff; 
            font-weight:bold; 
		}
		
		.type_a_clr
		{
            font-family:Arial;
            font-size: 7pt; 
            color: #646462;		
		}		
		
		.cnt_show_city 
		{
            font-family:Arial;
            font-size: 7pt; 
            color: #646462;
            padding-left:2pt;		
		}
		
		 
		.type_a
		{
            font-family:Arial;
            font-size: 9pt; 
            color: #006699;		
		}
		
		.type_a_sup 
		{
			color: #646462;
			font-size:7pt;		
			font-family:Arial;
		}
		
		.type_a_none
		{
            font-family:Arial;
            font-size: 9pt; 
            color: #006699;		
            text-decoration:none;
		}		
		
		.type_div
		{
            float:left;
            padding-right:7pt;
            vertical-align:bottom;		
		}
		
		.blk_lft
		{
		    /*padding-left:20pt;*/
                    padding-left:15pt;
		}
		
		.code_icon_save 
		{
		    /*width:10pt;*/
		    height:20pt;		
		}
		
		.code
		{
		    width:12%;
		    height:20pt;
		    color:#7C3535;
		    font-size:11pt;
		    font-family:Arial;
		    font-weight:bold;
		}
		.name_biz
		{
            width:100%; 
            height:20pt;
            color:#7C3535;
            font-size:11pt;
            font-family:Arial;
            font-weight:bold;	 	
            text-decoration:none;
		}
		.name_biz_l
		{
            text-decoration:none;
            color:#000000;
		}		
		.save_biz
		{
		    font-family:Arial;
		    font-size: 9pt;
		    color: #006699;
		    font-weight:bold;
		}
		.city_biz
		{
            font-family:Arial;
            font-size: 9pt;
            color: #006699;
            font-weight:bold;		
		}

		.ccity_biz
		{
            font-family:Arial;
            font-size: 8pt;
            color: #006699;
            font-weight:bold;		
		}
		
		
		.city_biz_m
		{
            font-family:Arial;
            font-size: 9pt;
            color: #006699;
		}

		.ccity_biz_m
		{
            font-family:Arial;
            font-size: 8pt;
            color: #006699;
		}
		
		
		.look_biz
		{
		    font-size:8pt;
		    font-family:Arial;
		}

		.leftmenu_0
		{
		    height:14pt; 
		    background-color:#D4D4CC; 
		    width:100%; 
		    padding-left:5pt;
		}
		.leftmenu_1
		{
		    height:14pt; 
		    background-color:#EEEEE0; 
		    width:100%; 
		    padding-left:5pt;
		}

		.leftmenu_0_b
		{
		    height:14pt; 
		    background-color:#D4D4CC; 
		    padding-left:5pt;
		}
		.leftmenu_1_b
		{
		    height:14pt; 
		    background-color:#EEEEE0; 
		    padding-left:5pt;
		}
		
		
		.leftmenu_n_0
		{
		    height:14pt; 
		    background-color:#EEEEE0; 
		    width:100%; 
		    padding-left:0pt;
		    font-weight:bold;
		}
		.leftmenu_n_1
		{
		    height:14pt; 
		    background-color:#f8f8f4; 
		    width:100%; 
		    padding-left:0pt;
		    font-weight:bold;
		}		
		
		.category_a
		{
            font-family:Arial; 
            font-size: 8pt; 
            color: #006699; 
            font-weight:bold;		
            vertical-align:middle;
		}

        .desc_f
        {
			font-family:arial;
			font-size:10pt;
			padding-left:2pt;
        }
        .desc_f_1
        {
			color:#7c3535;
			font-family:arial;
			font-size:10pt;
			font-weight:bold;        
			padding-left:2pt;
        }
         
        .val
        {
			font-family:arial;
			font-size:10pt;
        }        
 
        .adr
        {
			font-family:arial;
			font-size:10pt;
			padding-left:5pt;
			font-weight:bold;
        }        
        
        .val_f
        {
			font-family:arial;
			font-size:10pt;
			padding-left:5pt;
        }
        
        .email
        {
			font-family:arial;
			font-size:10pt;
			padding-left:5pt;
        }        
        
        .tel
        {
			font-family:arial;
			font-size:10pt;
			padding-left:5pt;
        }        
        
		.fn 
		{
			font-family:arial;
			font-size:10pt;
			padding-left:5pt;
			font-weight:bold;		
		}
		
        
        .desc_td
        {
        	background-color:#e4e4e4;
        }
        .title_id
        {
        	padding-left:2pt; 	
        }
        
        .val_td
        {
        	background-color:#d9d9b9;
        } 
        
.inputErrorData {
  border-top: 1px; 
  border-bottom: 1px; 
  border-left:1px;  
  border-right:1px;  
  border-color:#C1C1A4;  
  border-style: solid;
  background-color:red;
}
        
.nm_pr
{
	font-size:8pt;
	font-family:Arial;
}

.txt_pr
{
	font-size:8pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:12pt;
}

.d_desc
{
	padding-left:10pt;
	width: 95%;
	background-color:#ffffff;
	padding-top:3pt;
	text-align:right;
}

.a_c_desc
{
	font-family:Arial;
	font-size: 9pt;
	color: #006699;
	font-weight:bold;
}

.by_cat
{
	padding-left:10pt;
	width: 95%;
	background-color:#ffffff;
	padding-top:3pt;
	text-align:right;
	padding-bottom: 5pt;
}

.a_by_cat
{
	font-family:Arial;
	font-size: 9pt;
	color: #006699;
}

.d_hot_b
{
	background-color:#DB8C03;
	height:16pt;
	color:White;
	font-size:13pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:13pt;
	padding-top:2pt;
}

.nd_d_hot_l
{
	background-color:#7c3535;
	height:16pt;
	color:White;
	font-size:13pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:13pt;
	padding-top:2pt;
}

.nd_d_hot_b
{
	background-color:#c32121;
	height:16pt;
	color:White;
	font-size:13pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:13pt;
	padding-top:2pt;
}

.nd_ht__pr
{
	font-size:8pt; 
	font-family:Arial; 
	font-weight:bold; 
	color:White;
}

.d_pro_b
{
	height:16pt;
	background-color:#d9d9b9;
	color:#7c3535;	
	font-size:13pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:13pt;
	padding-top:2pt;
}


.d_hot_by
{
	background-color:#DB8C03;
	height:16pt;
	color:White;
	font-size:13pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:13pt;
	padding-top:2pt;
}



.a_hot_city
{
	font-family:Arial;
	font-size: 9pt;
	color: #000000;
	font-weight:bold;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.a_hot_city_none
{
	font-family:Arial;
	font-size: 9pt;
	color: #000000;
	font-weight:bold;
	padding-top: 1pt;
	padding-bottom: 1pt;
	text-decoration:none;
}

.txt_term
{
	font-size:10pt;
	font-family:Arial;
	padding-top: 1pt;
	padding-bottom: 1pt;
}
.val_term_h
{
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
}
.nd_val_term_h
{
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
	color:#000;
}
.txt_share
{
	font-size:10pt;
	font-family:Arial;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.look_h_num
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
	border-top:1px;
	border-bottom: 1px;
	border-left:1px;
	border-right:1px;
	border-color: #CFCFCF;
	border-style: solid;
	padding-left:12pt;
	padding-right:12pt;
	background-color:White;
}
.look_biz_num
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
	border-top:1px;
	border-bottom: 1px;
	border-left:1px;
	border-right:1px;
	border-color: #CFCFCF;
	border-style: solid;
	padding-left:12pt;
	padding-right:12pt;
}
.hld
{
	font-family:Arial;
	font-size: 9pt;
	color: #006699;
	font-weight:bold;
}
.d_con_str_1
{
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
	color:White;
	padding-top:5pt;
	padding-bottom: 2pt;
}
.h_cod
{ 
	color:#7C3535;
	font-size:10pt;
	font-family:Arial;
	font-weight:bold;
	padding-left:13pt;
}
.a_nm_h
{
	font-family:Arial;
	font-size: 11pt;
	color: #000000;
	font-weight:bold;
}

.a_nm_h_none_l
{
	color:#0e6e9b;
	text-decoration:underline;
	font-family:Arial;
	font-size: 11pt;
}

.a_nm_h_none
{
	font-family:Arial;
	font-size: 11pt;
	color: #000000;
	font-weight:bold;
	text-decoration:none;
}


.b1_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:top;
}
.b2_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:top;
}
.b4_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:bottom;
}
.b3_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:bottom;
}

.nb_10_12
{
	background-repeat: repeat-x;
	width:10px;
	height:12px;	
}

.res_h1_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:11px;
	background-position:right bottom;
}
.res_h2_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:11px;
	background-position:left bottom;
}
.res_h4_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:11px;
	background-position:right top;
}
.res_h3_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:11px;
	background-position:left top;
}

.nb_h1_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:12px;
	background-position:right bottom;
}
.nb_h2_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:12px;
	background-position:left bottom;
}
.nb_h4_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:12px;
	background-position:right top;
}
.nb_h3_gif
{
	background-repeat:no-repeat;
	width:10px;
	height:12px;
	background-position:left top;
}

.nb_border_l_gif
{
	background-repeat:repeat-y;
	width:10px;
	background-position:right;
}

.nb_border_r_gif
{
	background-repeat:repeat-y;
	width:10px;
	background-position:left;
}




.nb_price_h1_gif
{
	background-repeat:no-repeat;
	width:7px;
	height:7px;
	background-position:right bottom;
}
.nb_price_h2_gif
{
	background-repeat:no-repeat;
	width:7px;
	height:7px;
	background-position:left bottom;
}
.nb_price_h4_gif
{
	background-repeat:no-repeat;
	width:7px;
	height:7px;
	background-position:right top;
}
.nb_price_h3_gif
{
	background-repeat:no-repeat;
	width:7px;
	height:7px;
	background-position:left top;
}

.nb_price_border_l_gif
{
	background-repeat:repeat-y;
	width:7px;
	background-position:right;
}

.nb_price_border_r_gif
{
	background-repeat:repeat-y;
	width:7px;
	background-position:left;
}

.nb_price_7_1
{
	background-repeat: repeat-x;
	width:10px;
	height:7px;	
}









.h1_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:top;
}
.h2_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:top;
}
.h4_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:top;
}
.h3_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:top;
}
.d1_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:left top;
}
.d2_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:right top;
}
.d4_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:left bottom;
}
.d3_gif
{
	background-repeat:no-repeat;
	width:5px;
	height:5px;
	background-position:right bottom;
}

.inputDataMandatory
{
   border-color:red; 
   border-style:solid;
   border-width:1pt;;
}

.tblcity
{
	font-family:Arial;
	font-size:13pt;
	color:#7C3535;
	font-weight: bold;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.bc2
{
	padding-bottom:2pt;
}

.bwell
{
	font-family:Arial;
	font-size: 8pt;
	padding-top:5pt;
	padding-bottom: 5pt;
	padding-right:5pt;
}

.blk_lft_n_100
{
	width: 100%;
	background-color:#D9D9B9;
}

.blk_lft_n
{
	width: 95%;
	background-color:#D9D9B9;
}

.blk_lft_d
{
	width: 95%;
	background-color:#EEEEE0;	
}

.blk_lft_d1
{
	padding-left:20pt; 
	width: 95%;
	background-color:#ffffff;
	padding-top:3pt;
}

.dt1
{
	font-size:8pt;
	font-family:Arial;
}

.dt2
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
}

.sd
{
	font-size:8pt;
	font-family:Arial;
}

.sd_p
{
	font-size:7pt;
	font-family:Arial;
	font-weight:bold;
	padding-top:1pt;
}

.save_biz1
{
	cursor:hand;
	text-decoration:underline;
}

.code1
{
	width:60%;
	padding-left:2pt;
} 

.tdct
{
	width:78%;
	padding-right:15pt;
}

.tdct_ext
{
	width:84%;
	padding-right:15pt;
}

.cb
{
	font-size:11pt;
	font-family:Arial;
	font-weight:bold;
	color:White;
}


.torg
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
	color:#EEEEE0;
	padding:0pt;
}

.prb
{
	width:130pt;
	height:40px;
	background-color:#006699;
}

.prb_terra
{
	width:20pt;
	height:10pt;
	background-color:#006699;
}


.desc_td1
{
	border-bottom: 1pt solid white;
}

.scroll-table {
	/*width: 100%;*/
	overflow: scroll;
/*	height: 100%;*/
	position: relative;
	border-bottom:1px #c3c3c3 solid; 
	border-left:1px #c3c3c3 solid;
	overflow-x: hidden;
	z-index:1;
}	


table.tbl_new {background-color:#fff; z-index:1;}
table.tbl_new td{padding:6 3 3 8; font-family:Tahoma; font-size:11px;}
table.tbl_new th {height:27px; padding:6 3 3 8; text-align:left; background-color:#e5e5e5; font-weight:bold; font-family:Tahoma; font-size:11px; border-width:0px}
table.tbl_new td b {color:#000000;}

table.tbl {border-bottom:1px #c3c3c3 solid; border-left:1px #c3c3c3 solid; background-color:#FFFFFF;}
table.tbl td{border-top:1px #c3c3c3 solid; border-right:1px #c3c3c3 solid; height:27px; padding:6 3 3 8;}
table.tbl td b {color:#000000;}

.bizterra
{
	font-size:14pt;
	font-color:black;
	text-decoration:none;
	font-weight:bold;
}

h1
{
	font-family:Arial;
	font-size:14pt;
	color:#7C3535;
}

.city_head
{
	border-top: 1pt; 
	border-bottom: 1pt;   
	border-left:1pt;  
	border-right:1pt;   
	border-color:#7C3535;  
	border-style: solid;
}

.city_head_h2
{
	margin:0pt;
	padding:0pt;
	color:#ffffff;
	font-family:arial;
	font-size:8pt;
	text-align:center;
	font-weight:bold;
	margin-bottom:0pt;
	text-decoration:none;
}

.adv
{
	padding-top:4pt;
	padding-bottom:5pt;
	padding-right:10pt;
	padding-left:10pt;
	font-size:10pt;
	font-family:arial;
}

.arenda 
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
	background-color:#EEEEE0;
	padding:0pt;
	width:175px;
}

.newsell 
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
	background-color:#006699;
	padding:0pt;
	margin-bottom:1pt;
	width:174px;
	color:white;
}

.sms
{
	font-size:9pt;
	font-family:Arial;
	font-weight:bold;
	background-color:#EEEEE0;
	padding-left:6pt;
	padding-right:6pt;
}

.umnew 
{
	background-image: url(./images/um.jpg);
	background-repeat: repeat-x;
}

.mmnew 
{
	background-image: url(./images/mm.jpg);
	background-repeat: repeat-x;
}

.ddnew 
{
	background-image: url(./images/dd.jpg);
	background-repeat: repeat-x;
}



.h_l_cd
{
	color:#484d84;
	font-family:tahoma;
	font-size:11pt;
	font-weight:bold;
}

.h2_det
{
	font-size:10pt; 
	font-family:Arial; 
	font-weight:bold; 
	padding-left:10pt;
}

.brk_txt
{
	color:gray;
	text-align:center;
}

.text_p
{
	font-size:8pt;
	padding:0pt;
	margin:2pt;
	font-family:Arial;
}

.count 
{
	color:#e5e0e0;
	font-family:arial;
	font-size:8pt;
	padding:2pt;
}

.smpsearch
{
	font-family:Arial; 
	font-size:10pt; 
	color:#7C3535;
	cursor:pointer;
}

.smpsearch_txt
{
	text-decoration:none;
	border-bottom:1px dashed #000;
}

/*
a {text-decoration:none;}

a:hover{text-decoration:underline;}
*/
 
.sub_menu
{
  color:white;
  font-size:10pt;
  font-family:Arial; 
  font-weight:bold;		
  text-decoration:none;
 }
 
 .order_tax {
  	display: none; visibility: hidden;
 }

#name_biz_td a:hover {text-decoration:underline;}
#a_nm_h_none a:hover {text-decoration:underline;}
#insertadv a:hover {text-decoration:underline;}
#prc_a_none a:hover {text-decoration:underline;}
#menu_top a:hover {text-decoration:underline;}