<table width="100%">
	<tr>
		<td valign="top">
			<select name="company_id" style="width:100%;font-size:10pt;font-family:arial;">
    			{foreach name=nname key=kkey item=iitem from=$companylist}															
	  				<option value="{$iitem->id}" {if $data->company_id eq $iitem->id}selected{else}{/if}>{$iitem->name}</option>
				{/foreach}
			</select>
		</td>
	</tr>
</table>