<form method="post">
  <input type='hidden' name='insert' value='insert'>
  <table width='100%' bgcolor='#cccccc'>
    <tr>
      <td>Название категории</td>
      <td>
         <textarea cols=50 rows=5 name="NameID"></textarea> 
      </td>
    </tr>
    <tr>
      <td colspan=2 align='right'><input type='submit' value='Добавить'></td>
    </tr>
  </table>
</form>