<table border=0 width='100%'>
  <th>Название</th> 
    {foreach name=sell key=key item=item from=$data}
     <tr bgcolor="{cycle values="#bcd1e3,#e9e9e9"}">
       <td><a href='#' style='text-decoration:none;'>{$item->Name}</a></td>
     </tr>
    {/foreach}
</table> 

