body {
	font-family: Verdana, Arial, Tahoma, sans-serif;      
	font-size: 80%;
}
blockquote {
	border: 1px dashed #ddd;
	padding: 5px;
	background-color: #f3f5de;
}
div {
	border: 1px dashed #ddd;
	padding: 5px;
}
p {
	background-color: #f3fafe;
	padding: 5px;
	border: 1px dashed #ddd;
}
table {
	border-collapse: collapse;
	font-size: 1em;
}
table td {
    background-color: #f7f7f7;
	 border: 1px solid #ddd;
}
code {
	font-size: 12px;
}
pre {
	font-size: 12px;
}

/* HEADER */
h1, h2, h3, h4,h5 {
	font-family: Tahoma, Arial, Verdana, sans-serif;
	font-weight: normal;
	margin: 6px 0px;
	padding: 0px;
}

h1 {
	font-size: 26px;
	margin-bottom: 12px;
}
h2 {
	font-size: 22px;
	margin-bottom: 10px;
}
h3 {
	font-size: 18px;
	margin-bottom: 8px;
}
h4 {
	font-size: 14px;
	font-weight: bolder;
}
h5 {
	font-size: 12px;
	font-weight: bolder;
}
/* END HEADER */