body {
	background-color: #000;
	font-family: Tahoma, sans-serif;
	font-size: 80%;
	color: #eee;
	padding: 0;
	margin: 0;
}
html {

}
a {
	color: #000;
	outline: none;
}
a:hover {
	color: #028;
}
img {
	border: none;
}

.mini {
	font-size: 11px;
}

#one {
	color: #eee;
	padding: 8px;	
}
#two {
	width: 100%;
}

.buttons {
	padding: 0 !important;
}
.buttons a {
	background: url(../i/bg_btns.gif) repeat-x #d3d7d7;
	border: 1px solid #ddd;
	padding: 3px;
	padding-bottom: 1px;
	display: block;
	margin: 1px !important;
}
.buttons a:hover {
  	background: none;
	background-color: #ddd;   
	border: 1px solid #bbb;   
}

.buttons img {
	vertical-align: middle;
}
.selectors input {
	font-size: 11px;	
}
.selectors select {
	font-size: 11px;
}
.selectors {
	width: 100%;
	margin-bottom: 5px;
}
.selectors .left {
	width: 100%;
	font-size: 11px;
}

.rulers {
	border-collapse: collapse;
	width: 100%;
}
.rulers td {
	color: #eee;
	padding: 3px 6px;
}
.rulers td a {
	color: #eee;
}
.rulers td img {
	vertical-align: middle;
}
.rulers td a:hover {
	color: #aaa;
}
.row1 {
	background-color: #111;
}
.row2 {
	background-color: #222;
}

.selectors .right {
	text-align: right;
	white-space: nowrap;
	padding-right: 8px;
}

.image_box {
	background-color: #000; 
	float: left;
	width: 100%;
}
.image {
	float: left;
}
.image a {
	border: 3px solid #333;
	display: block;
	margin: 2px;
	color: #eee;
	padding: 3px;
}
.image a:hover {
	border: 3px solid #777;	
}
.image a.active {
	border: 3px solid #a40000 !important;	
}

.image img {
	vertical-align: middle;
}

ul.subsection_tabs {
	list-style:none;
	margin:0;
	padding:0;
	clear:both;
	clear:both;
	height: 25px;
	font-size: 11px;
}

ul.subsection_tabs li {
	float: left;
	height: 25px;
	margin-right:7px;
	text-align:center;
}

ul.subsection_tabs li a {
	display:block;
	padding: 2px 6px;
	color:#eee;
}

ul.subsection_tabs li a:hover {
	color:#999;
}

ul.subsection_tabs li a.active {
	text-decoration: none;
	font-weight: bold;
}

ul.register_tabs {
	border-bottom:none;
}

ul.register_tabs li a.active {
	background-color:#6d7a81;
	color:#fff;
}