.redactor_file_browser {
	height: 350px;
	border: 1px solid #bbb;
	z-index: 1;
	 clear: both;	
}		
.redactor_container {
	font-family: Tahoma, sans-serif;
   position: relative;
	zoom: 1;
	margin-bottom: 10px;
}


.redactor_container_fullscreen {
	width: 99% !important;
	height: 99% !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50000;
	padding-left: 5px;
}
.redactor_container_fullscreen iframe {
	width: 99% !important;
	height: 90% !important;
	z-index: 50002;
	background-color: #fff;
}
.redactor_container_fullscreen textarea {
	width: 99% !important;
}
.redactor_container_fullscreen .redactor_bottom {
	width: 100% !important;
}
.redactor_container_fullscreen .redactor_resize {
	width: 99% !important;
}
.redactor_container_fullscreen .redactor_buttons  {
	width: 99% !important;
}

.redactor_container textarea {
   border: 1px solid #ddd;
	font-size: 12px;
}
.redactor_container iframe {
    border: 1px solid #ddd;
	 clear: both;
}


.redactor_buttons {
	list-style: none;
	padding:0;
	clear: both;
	width:100%;
	float: left;
	margin: 0;
	border: 1px solid #eee;
	border-bottom: none;
/*	background-color: #ddd;*/
	background: url(../i/bg_btn.gif) repeat-x #f1f3f5;
	
}
.redactor_buttons li {
	margin-top: 1px;
	float: left;
}
.redactor_buttons li.select a {
	background: none;
	background: url(../i/bg_btn_hover.gif) repeat-x #fdc972;
}


.redactor_buttons li.sel {
    margin-right: 1px;
}

.redactor_buttons li img {
	vertical-align: middle;
}
.redactor_buttons li select {
    margin-top: 1px;
}

.redactor_buttons li a {
   display: block;
	/*
	background: url(../i/bg_btn.gif) repeat-x #f1f3f5;
	border: 1px solid #ddd;
	*/
	margin-right: 1px;
  	padding: 4px 3px 3px 3px;
	outline: none;
	color: #000;
	font-size: 11px;
}
.redactor_buttons li.drop a {
	padding: 5px;
}
.redactor_buttons li a:hover {
  	background: none;
	background: url(../i/bg_btn_hover.gif) repeat-x #fdc972;
}


.redactor_bottom {
	padding-bottom: 5px;
}
.redactor_resize {
	padding-left: 2px;
	cursor: s-resize;  
	line-height: 0; 
	background: url(../i/bg_resize.gif) repeat-x #f0f0f0;
}
.redactor_resize div {
	background: url(../i/btn_resize.gif) no-repeat center;
	padding: 3px;
}
.redactor_inserts {
	clear: both;
	background-color: #f1f3f5;	
}

.redactor_loader {
	padding: 30px;
	padding-top: 45px;
	text-align: center;
}

.redactor_versions {
	clear: both;
	zoom: 1;

}
.redactor_versions h3 {
	padding-top: 10px;
	font-family: Tahoma, sans-serif;
	font-weight: normal;	
	font-size: 18px;
	margin-bottom: 5px;
}
.redactor_versions  table {
	font-size: 11px;
	border-collapse: collapse;
	width: 100%;
}
.redactor_versions table td {
	padding: 3px 7px;
	border-bottom: 1px solid #ddd;
}
.redactor_versions .row1 {
	background-color: #fff;
}
.redactor_versions .row2 {
	background-color: #f7f7f7;
}


.redactor_container .inserts_title {
	background-color: #181818;
	color: #eee;
	font-size: 11px;
	font-weight: bolder;
	padding: 5px;
}


.redactor_inserts table {
	font-size: 11px;
	border-collapse: collapse;
	width: 100%;
}
.redactor_inserts table td {
	padding: 3px 7px;
	border-bottom: 1px solid #ddd;
}
.redactor_inserts .row1 {
	background-color: #fff;
}
.redactor_inserts .row2 {
	background-color: #f1f3f5;
}

.redactor_inserts .charmap {
	text-align: right;
	font-size: 11px;
	background-color: #fff;		
}
.redactor_inserts .charmap a {
	color: #000;
	border: 1px solid #ddd;
	padding: 2px 5px;
	margin: 1px;
	display: block;
	float: left;
	height: 13px;
	text-decoration: none;	
}
.redactor_inserts .charmap a:hover {
	background-color: #000;
	color: #eee;
}



.redactor_style {
	background-color: #f1f3f5;
	width: 100%;
	border: none !important;	
}
.redactor_style td {
	vertical-align: bottom;
	height: 30px;
	// height: 25px;
	border: none !important;	
	padding: 7px 0 !important;	
}
.redactor_style a {
	padding: 5px;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	border: 3px solid #f1f3f5;
	color: #000;
}
.redactor_style a:hover {
	border: 3px solid #f89129;
	background-color: #fff;
}
.redactor_style img {
	border: none;
	vertical-align: middle;
}