Пользователь <a href="{$oUserComment->getUserWebPath()}">{$oUserComment->getLogin()}</a> оставил новый комментарий к вашему топику <b>«{$oBb->getTitle()|escape:'html'}»</b>, прочитать его можно перейдя по <a href="{$oBb->getUrl()}#comment{$oComment->getId()}">этой ссылке</a><br>							
{if $oConfig->GetValue('sys.mail.include_comment')}
	Текст сообщения: <i>{$oComment->getText()}</i>				
{/if}				
<br><br>
С уважением, администрация сайта <a href="{cfg name='path.root.web'}">{cfg name='view.name'}</a>