{if isset($aError) && sizeof($aError)}
<div style="margin:4px;padding:4px;border:3px #c3c3c3 solid;background-color:#fbeded; ">
<ul>
{foreach  item=i from=$aError}
	<li>{$i}</li>
{/foreach}
</ul>
</div>
{/if}