{if isset($aSuccess) && sizeof($aSuccess)}
<div style="margin:4px;padding:4px;border:3px #c3c3c3 solid;background-color:#bdecd0; ">
<ul>
{foreach  item=i from=$aSuccess}
	<li>{$i}</li>
{/foreach}
</ul>
</div>
{/if}