{if isset($arrayError) && sizeof($arrayError)}
<div style="margin:4px;padding:4px;border:3px #c3c3c3 solid;background-color:#fbeded; ">
<ul>
{foreach  item=i from=$arrayError}
	<li>{$i}</li>
{/foreach}
</ul>
</div>
{/if}