<table width="95%"  align='center' bgcolor='#cccccc'>
    <tr>
        <td><b>IP</b></td>
        <td><b>Дата блокировки</b></td>
        <td ></td>
    </tr>
{foreach name=n key=k item=i from=$list}
    <tr bgcolor="{cycle values="#bcd1e3,#e9e9e9"}">
        <td>
            {$i.ip}
        </td>
        <td>
            {$i.created}
        </td>
        <td align="center"><a href='./blockip.php?blockip=up&ip={$i.ip}'>разблокировать</a></td>
    </tr>
{/foreach}    
</table>