<table width='100%' border=1>

{foreach name=country key=key item=item from=$data}
   <th bgcolor='#ccccccc'>{$key}</th>
{/foreach}
   <th colspan=2 bgcolor='#ccccccc'>&nbsp;</th>


{foreach name=country key=key item=item from=$data}
  {foreach name=country1 key=key1 item=item1 from=$item}
    <tr>
      {foreach name=country2 key=key2 item=item2 from=$data}
         <td>{$item2[$key1]}</td>
      {/foreach}
      <td>удалить</td>
      <td>редактировать</td>
    </tr>
  {/foreach}
  {php}break;{/php}
{/foreach}


</table>
