<table>
    <tr>
        <td>Код</td>
        <td>Наименование</td>
        <td>Брокер</td>
        <td>Тарифный план</td>
    </tr>
    {foreach from=$listauto item=i key=k}
        <tr>
            <td>
                1{$i['Id']}
            </td>
        </tr>
    {/foreach}
</table>