<table width='100%'>
    <tr>
        <td width='50%' valign='top'>
            {include file='./badwords/list.tpl'}
        </td>
        <td width='50%' valign='top'>
            {include file='./badwords/generate.tpl'}
            
            {include file='./badwords/help.tpl'}
            
        </td>
    </tr>
</table>    