/* Reset
-------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { padding: 0; margin: 0; }
ul, ol { list-style: none; }
img { border: none; }



/* Body
-------------------------------------------------------------------*/
html, body { height: 100%; }
body { font: 12px/18px Tahoma, Arial, Helvetica, sans-serif; color: #333; background: #f7f8f9; }

h1, h2, h3, h4, h5, h6 { font: normal 18px Verdana; color: #333; }
h1 { font-size: 22px; line-height: 26px; margin-bottom: 10px; }
h2 { font-size: 20px; line-height: 24px; margin-bottom: 7px; }
h3 { font-size: 18px; line-height: 22px; margin-bottom: 5px; }
h4 { font-size: 18px; line-height: 22px; margin-bottom: 5px; }
h5 { font-size: 18px; line-height: 22px; margin-bottom: 5px; }
h6 { font-size: 18px; line-height: 22px; margin-bottom: 5px; }

a { color: #70aae0; }
a:hover { text-decoration: none; }

.voting a { outline: none; }

h1 span { color: #ccc; }



/* Generic Blocks
-------------------------------------------------------------------*/
#container { min-width: 900px; }
#header { height: 80px; clear: both; overflow: hidden; zoom: 1; background: #7C3535; }
#nav { clear: both; background: #e8e8e8; }
#wrapper { overflow: hidden; zoom: 1; margin-bottom: 30px; padding: 20px 46px 30px 20px; }
#content { width: 67%; background: #fff; float: left; clear: left; padding-top: 20px; padding-bottom: 20px; zoom: 1; }
#sidebar { width: 32%; float: left; margin-left: 1%; margin-top: -6px; }
/* #footer { clear: both; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/footer-bg.gif) repeat-x; padding: 20px 40px; color: #999; overflow: hidden; }*/
#footer { clear: both;  background: #7C3535; padding: 20px 40px; color: #999; overflow: hidden; }


.update-hide { padding: 20px 16px 30px 20px !important; }
.white-back { background: #fff; margin: 0 20px 30px 20px; padding-bottom: 15px ; padding-left: 20px; }
.white-back #content { clear: none; padding-top: 0; }
.page-talk { padding-left: 3px !important; margin-right: 50px !important; }


/* Forms
-------------------------------------------------------------------*/
label { margin-bottom: 2px; }
form p { margin-bottom: 20px; }
form .note { float: right; font-size: 11px; }
form .buttons { overflow: hidden; }
form .right { float: right; font-size: 18px; font-family: Tahoma; color: #333; padding: 5px; }
form .panel_form { background: #eaecea; }
form .panel_form select { width: 73px; height: 18px; margin: 2px; float: left; }
textarea { width: 99%; height: 200px; margin-bottom: 5px; }
textarea.small { width: 300px; height: 70px; margin-bottom: 5px; }
select { width: 99%; }
.w50 { width: 50px; }
.w70 { width: 70px; }
.w100 { width: 100px; }
.w200 { width: 200px; }
.w300 { width: 300px; }
.w100p { width: 99%; }
.radio { position: relative; top: 2px; }
.checkbox { position: relative; top: 2px; margin-left: 0; }
.form-tags { padding: 10px; background: #fafafa; color: #999; }
.form-tags input { width: 99%; }
.form_note { font-size: 11px; color: #aaa; }



/* Header
-------------------------------------------------------------------*/
#header h1 { float: left; padding-top: 25px; padding-left: 25px; }
#header h1 a { color: #77d115; text-decoration: none; font: normal 20px Arial, Sans-Serif; }
#header h1 a strong { color: #fff; }

/* Main Navigation */
#header .nav-main { overflow: hidden; float: left; padding-top: 31px; padding-left: 40px; }
#header .nav-main li { float: left; font-size: 15px; margin-right: 15px; }
#header .nav-main li a { color: #bebebe; }
#header .nav-main li.active { position: relative; top: -5px; }
#header .nav-main li.active a { color: #fff; font-size: 24px; line-height: 24px; text-decoration: none; }

/* Profile */
#header .profile { float: right; padding-top: 15px; padding-right: 23px; }

#header .profile a.avatar { display: block; width: 48px; height: 48px; float: right; }
#header .profile a.avatar img { width: 48px; height: 48px; }

#header .profile ul { float: right; font-size: 11px; padding-right: 7px; margin-top: -2px; color: #afafaf; }
#header .profile ul li { text-align: right; line-height: 17px !important; }
#header .profile ul li a { color: #afafaf; text-decoration: none; }
#header .profile ul li a.author { color: #fff; text-decoration: underline; }
#header .profile ul li a.message { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll right -17px; color:#ffea00; margin-right: 5px; padding-right: 18px; }
#header .profile ul li a.message-empty { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll right 3px; color:#ffea00; margin-right: 5px; padding-right: 18px; }
#header .profile ul li a:hover { color: #ddd; }

#header .profile.guest { width: 235px; text-align: left; padding-top: 27px; padding-right: 0; color: #ddd; }
#header .profile.guest a { font-size: 18px; color: #fafafa; outline: none; line-height: 20px; }
#header .profile.guest a.reg { font-size: 12px; }



/* Navigation
-------------------------------------------------------------------*/
#nav { height: 92px; background: #e9eaea url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) repeat-x scroll 0 -81px; overflow: hidden; zoom: 1; }
#nav .left { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat scroll 0 -173px; float: left; height: 92px; width: 20px; }
#nav .right { float: right; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat scroll right -265px; height: 92px; width: 20px; }
#nav .write { float: left; padding-top: 45px; width: 110px; }

/* Navigation of Blog */
.menu { float: left; font-size: 15px; padding: 10px 0 0 37px; }
.menu li { float: left; color: #51b038; padding: 5px 10px 8px 10px; }
.menu li a { text-decoration: none; color: #838383; }
.menu li a:hover { color: #333; }
.menu li.active { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg_info_menu.gif) repeat-x scroll 5px 2px; position: relative; }
.menu li.active a { color: #333; }

/* Sub-navigation of Blog */
.sub-menu { position: absolute; top: 36px; left: 0px; width: 400px; font-size: 11px; }
.sub-menu li { padding: 2px 5px 0 11px; margin-right: 5px; line-height: 12px; }
.sub-menu li a { color: #8a8a8a !important; text-decoration: underline; }
.sub-menu li a:hover { text-decoration: none; }
.sub-menu li.active { padding: 0 0 0 11px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg_info_menu.gif) no-repeat scroll 0 bottom; }
.sub-menu li.active div { padding: 3px 11px 5px 0; font-weight: bold; color: #fff; float: left; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg_info_menu.gif) no-repeat scroll right bottom; }
.sub-menu li.active a { text-decoration: none; color: #fff !important; }

/* Search */
#nav .search { width: 214px; float: right; padding-top: 43px; padding-right: 3px; }
#nav .search form { width: 214px; position: relative; }
#nav .search input { border: 0; margin: 0; position: absolute; }
#nav .search .text { width: 170px; padding: 5px 0 6px 15px; font: normal 12px Verdana, Sans-Serif; color: #777; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/search-left.gif) no-repeat; }
#nav .search .button { width: 29px; height: 25px; top: 0px; right: 0px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/search-button.gif) no-repeat; }

/* Rss */
#nav .rss { float: right; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -270px; display: block; height: 11px; width: 74px; margin-top: 51px; margin-right: 10px; }
#nav .rss:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -290px; }



/* Extra
-------------------------------------------------------------------*/
#extra { clear: both; padding-left: 60px; margin-top: 10px; }
#extra a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -165px; color: #aaa; padding-left: 12px; }



/* Topic
-------------------------------------------------------------------*/
.topic { padding-left: 40px; padding-right: 30px; font-size: 13px; overflow: hidden; position: relative; margin-bottom: 30px; }
.topic h1.title { margin-bottom: 5px; }

/* Add to Favorite Icon */
.topic .favorite { position: absolute; top: 7px; left: 10px; }
.topic .favorite a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat 0 -40px; display: block; height: 16px; width: 20px; outline: none; }
.topic .favorite a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat -20px -40px; }
.topic .favorite.active a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat -20px -40px; }
.topic .favorite.fav-guest a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat 0 -40px; cursor: default; }
.topic .favorite.fav-guest a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat 0 -40px; cursor: default; }

.topic.talk .favorite { position: absolute; top: 7px; left: 10px; }
.topic.talk .favorite a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat 0 -40px; display: block; height: 16px; width: 20px; outline: none; }
.topic.talk .favorite a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat -20px -40px; }
.topic.talk .favorite.active a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat -20px -40px; }

/* Actions */
.topic .action { overflow: hidden; margin-bottom: 20px; }
.topic .action li { float: left; margin-right: 3px; }
.topic .action li a { color: #aaa; outline: none; }
.topic .action li.rss a { display: block; height: 10px; width: 10px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -250px; margin-top: 5px; }
.topic .action li.plus a { display: block; height: 10px; width: 10px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -30px -250px; margin-top: 5px; }
.topic .action li.plus a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -250px; }
.topic .action li.join a { display: block; height: 10px; width: 10px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -250px; margin-top: 5px; }
.topic .action li.join a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -250px; }
.topic .action li.join-active a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -250px; }
.topic .action li.edit a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/edit.gif) no-repeat 0 1px; padding-left: 15px; margin-left: 10px; text-decoration: none; font-size: 11px; color: #70aae0; }
.topic .action li.delete a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/delete.gif) no-repeat 0 1px; padding-left: 15px; margin-left: 5px; text-decoration: none; font-size: 11px; color: #f00; }
.topic .action li a:hover { text-decoration: underline; }

/* Tags of Topic */
.topic .tags { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icon-tag.gif) no-repeat 0px 6px; padding-left: 13px; margin-bottom: 3px; clear: both; }
.topic .tags li { display: inline; color: #777; }
.topic .tags li a { text-decoration: none; color: #777; }
.topic .tags li a:hover { background: #777; color: #fff; }

/* Vote Block */
.topic .voting { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) repeat-x scroll 0 -576px; padding: 10px 0; overflow: hidden; }
.topic .voting li { float: left; color: #777; }
.topic .voting li a { text-decoration: none; outline: none; }
.topic .voting li a:hover { background: #777; color: #fff; }
.topic .voting li.author { margin-right: 10px; color: #999; text-decoration: none; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -105px; padding-left: 13px; }
.topic .voting li.author a { font-weight: bold; }
.topic .voting li.date { color: #999; font-size: 11px; margin-right: 20px; }
.topic .voting li.link { color: #999; font-size: 11px; margin-right: 20px; background:url(http://www.bizzona.ru/seminars/templates/skin/new/images/link_url.gif) center left no-repeat;padding-left: 15px;}

.topic .voting li.plus { margin-right: 5px; }
.topic .voting li.total { margin-right: 5px; color: #aaa; }
.topic .voting li.total a:hover, .topic .voting li.total a { background: #fff; color: #aaa; }
.topic .voting li.minus { margin-right: 20px; }
.topic .voting li.plus a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; float: left; display: block; height: 11px; margin-top: 3px; text-decoration: none; width: 9px; }
.topic .voting li.plus a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -90px; }
.topic .voting li.minus a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; float: left; display: block; height: 11px; margin-top: 4px; text-decoration: none; width: 9px; }
.topic .voting li.minus a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -90px; }

.topic .voting.voted li.plus a { cursor:default; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; }
.topic .voting.voted li.minus a { cursor:default; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; }

.topic .voting.plus li.plus a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -90px; }
.topic .voting.minus li.minus a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -90px; }
.topic .voting.guest li.plus a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; cursor: default; }
.topic .voting.guest li.minus a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; cursor: default; }
.topic .voting.positive .total { color: #390 !important; }
.topic .voting.negative .total { color: #f00 !important; }

.topic .voting.minus li.plus a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; }
.topic .voting.plus li.minus a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; }

.topic .voting li.comments-total a { font-size: 11px; }
.topic .voting li.comments-total a span { padding: 0 2px; }
.topic .voting li.comments-total a span.green { color: #390; }
.topic .voting li.comments-total a span.red { color: #f00; }
.topic .voting li.comments-total a:hover { background: #390; }
.topic .voting li.comments-total a:hover span { color: #fff; }
.topic .voting li.comments-total a:hover span.red { background: #f00; }

/* Generic Style of Topic */
.topic .content { font-size: 14px; line-height: 20px; margin-bottom: 15px; font-family: Verdana, sans-serif;}
.topic .content img { margin: 5px; }
.topic .content p { margin-bottom: 15px; }

.topic .content ul, ol { margin-bottom: 15px; margin-left: 20px; }
.topic .content ul li { list-style: disc; }
.topic .content ol li { list-style: decimal; }
.topic .content dl { margin-bottom: 15px; }
.topic .content dl dt { font-weight: bold; }
.topic .content dl dd { font-style: italic; margin: 0 0 5px 20px; color: #555; }

.topic .content blockquote { font-style: italic; padding: 5px 10px; background: #f8f8f8; }

.topic .content pre, .comment .content pre { overflow: auto; width: 95%; padding: 5px 2%; margin-bottom: 10px; background: #f8f8f8 url(http://www.bizzona.ru/seminars/templates/skin/new/images/code.gif); border: 1px solid #dce6f0; clear: both; }
.comment .content blockquote {font-style: italic; padding: 5px 10px; background: #ffffff; border: 1px solid #ddd;}




/* Talk
-------------------------------------------------------------------*/
/* Add to Favorite Icon */

.talk .favorite { position:relative; top:0px; left:0px; }
.talk .favorite a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -40px; width: 10px; height:8px; display: block; outline-style:none;}
.talk .favorite a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -50px -40px; }
.talk .favorite.active a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -50px -40px; }

.tal-table .favorite { }




/* Pagination
-------------------------------------------------------------------*/
#pagination { padding-left: 40px; }
#pagination p { font-size: 16px; color: #bbb; }
#pagination ul { overflow: hidden; margin-top: 10px; font-family: Verdana, Sans-Serif; }
#pagination ul li { float: left; margin-right: 8px; }
#pagination ul li.active { font-weight: bold; }
#pagination ul li.active { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/pagination-bg.gif) no-repeat top right; padding: 0 6px 1px 3px; border-left: 1px solid #eee; }
#pagination ul li.active { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/pagination-bg.gif) no-repeat top right; padding: 0 6px 1px 3px; border-left: 1px solid #eee; }
#pagination.onpage { padding-left: 0px; }



/* Block Nav
-------------------------------------------------------------------*/
.block-nav { overflow: hidden; padding-bottom: 5px; }
.block-nav li { font-size: 11px; line-height: 11px; float: left; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) repeat-x scroll 0 -534px; padding: 0 !important; }
.block-nav li a { color: #a2a2a2; text-decoration: none; outline: none; padding: 3px 0 7px 0; margin: 0 8px; display: block; float: left; }
.block-nav li strong { float: left; display: block; width: 5px; height: 21px; margin-right: -5px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat scroll -9px -555px; }
.block-nav li em { float: left; display: block; width: 5px; height: 21px; margin-left: -5px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat scroll -5px -555px; }
.block-nav li.active { background: #81da5e url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) repeat-x 0 -513px !important; }
.block-nav li.active strong { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat 0 -555px !important; }
.block-nav li.active em { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat -14px -555px !important; }
.block-nav li.active a { color: #fff; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg.gif) no-repeat -19px -555px !important; }



/* Sidebar
-------------------------------------------------------------------*/
.block { background: #fdfefe; line-height: 16px; }
.block h1 { font-family: Tahoma, Verdana, Sans-Serif; font-size: 20px; color: #333; padding-bottom: 5px; margin-bottom: 0; }

.block .right { text-align: right; padding-top: 10px; font-size: 11px; }

.block .tl { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tl.gif) no-repeat top left; }
.block .tr { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tr.gif) no-repeat top right; }
.block .bl { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-bl.gif) no-repeat bottom left; }
.block .br { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-br.gif) no-repeat bottom right; }
.block .cl { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-cl.gif) repeat-y left; }
.block .cr { padding: 0px 25px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-cr.gif) repeat-y right; }

.tags .tl { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tags-tl.gif) no-repeat top left; }
.tags .tr { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tags-tr.gif) no-repeat top right; }
.tags .bl { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tags-bl.gif) no-repeat bottom left; }
.tags .br { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tags-br.gif) no-repeat bottom right; }
.tags .cl { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tags-cl.gif) repeat-y left; }
.tags .cr { padding: 0px 25px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-tags-cr.gif) repeat-y right; }

.block.navigation { font-size: 11px; color: #888; }
.block.navigation ul li { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px dotted #ddd; }
.block.navigation ul li.last { border: 0; }
.block.navigation .blog { color: #999; }

.block.tags { background: #f7f8f9; }
.block.tags ul.cloud { text-align: center; }
.block.tags ul.cloud li { display: inline; margin-right: 5px; line-height: 22px; }
.block.tags ul.cloud li a { color: #8b8b8b; text-decoration: none; font-size: 18px; }
.block.tags ul.cloud li a:hover { background: #777; color: #fff; }
.block.tags ul.cloud li a.w1 { font-size: 11px; }
.block.tags ul.cloud li a.w2 { font-size: 12px; }
.block.tags ul.cloud li a.w3 { font-size: 14px; }
.block.tags ul.cloud li a.w4 { font-size: 16px; }
.block.tags ul.cloud li a.w5 { font-size: 18px; }
.block.tags ul.cloud li a.w6 { font-size: 20px; }
.block.tags ul.cloud li a.w7 { font-size: 22px; }
.block.tags ul.cloud li a.w8 { font-size: 24px; }
.block.tags ul.cloud li a.w9 { font-size: 26px; }
.block.tags ul.cloud li a.w10 { font-size: 28px; }

.block.blogs ul.list { border-top: 1px solid #eee; padding-top: 3px; margin-top: 10px; }
.block.blogs ul.list li { overflow: hidden; border-bottom: 1px solid #eee; padding-bottom: 5px; margin-bottom: 5px; }
.block.blogs ul.list li a { color: #777; }
.block.blogs ul.list li a.local { text-decoration: none; border-bottom: 1px dotted #777;}
.block.blogs ul.list li a.close { padding-right: 20px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/key.png) no-repeat right; }
.block.blogs ul.list li .total { float: right; font-weight: bold; padding-right: 13px; }
.block.blogs ul.list li .up { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/blog-rating-up.gif) no-repeat right 5px; }
.block.blogs ul.list li .down { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/blog-rating-down.gif) no-repeat right 5px; }
.block.blogs ul.list li a.delete { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/delete.gif) no-repeat 0 1px; padding-left: 5px; margin-left: 7px; text-decoration: none; font-size: 11px; color: #f00; padding-right:10px; outline-style:none;}
.block.blogs ul.list li .user { padding-right: 3px; color: #999; font-weight: bold; text-decoration: none; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -108px; padding-left: 13px; }
.block.blogs ul.list li .user.inactive { color: #cfcfcf; }

.block.stream { font-size: 11px; color: #999; }
.block.stream li { padding: 5px 5px; overflow: hidden;}
.block.stream li.even { background: #f8f8f8; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.block.stream a.stream-author { color: #999; font-weight: bold; text-decoration: none; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -108px; padding-left: 13px; }
.block.stream .stream-topic-icon { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 2px -188px; padding-left: 14px; zoom: 1; }
.block.stream a.stream-topic { color: #333; padding-right: 5px; }
.block.stream .stream-comment-icon { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-list.gif) no-repeat 2px 4px; padding-left: 14px; zoom: 1; }
.block.stream a.stream-comment { color: #333; }
.block.stream a.stream-blog { color: #999; }
.block.stream span { color: #66b746; }

.block.white { background: #fff !important; }
.block.white .tl { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-profile-tl.gif) no-repeat top left; }
.block.white .tr { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-profile-tr.gif) no-repeat top right; }
.block.white .bl { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-profile-bl.gif) no-repeat bottom left; }
.block.white .br { height: 19px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-profile-br.gif) no-repeat bottom right; }
.block.white .cl { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-profile-cl.gif) repeat-y left; }
.block.white .cr { padding: 0px 25px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/sidebar-profile-cr.gif) repeat-y right; }

.block.white.friend form textarea { height: 50px; width: 95%; }
.block.white.friend form label { color: #000; }

.block.nostyle { padding: 20px 25px; }

.block.options h3 { padding-bottom: 10px; }
.block.options li { padding-bottom: 5px; }

.block.actions li { color: #4ccc1b; padding-bottom: 3px; }
.block.actions li.add { color: #4ccc1b; padding-bottom: 15px; }
.block.actions li.add a { color: #4ccc1b; }
.block.actions li.del { color: #dd0000; padding-bottom: 15px; }
.block.actions li.del a { color: #dd0000; }

.block.contacts strong { color: #999; }
.block.contacts img { padding: 7px; border: 1px solid #ccc; }
.block.contacts ul { margin-top: 5px; }
.block.contacts ul li { padding: 3px 0 3px 25px; }
.block.contacts ul li.icq { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px 2px; }
.block.contacts ul li.jabber { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px -23px; }
.block.contacts ul li.skype { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px -47px; margin-bottom: 10px; }
.block.contacts ul li.lj { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px -73px; }
.block.contacts ul li.vk { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px -99px; margin-bottom: 10px; }
.block.contacts ul li.email { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px -122px; }
.block.contacts ul li.phone { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons-contacts.gif) no-repeat scroll 0px -145px; }

.block.stat ul.users { font-size: 11px; color: #999; width: 150px; }
.block.stat ul.users li { border-bottom: 1px solid #eee; padding-bottom: 2px; }
.block.stat ul.users li.last { border-bottom: 0; }
.block.stat .gender { overflow: hidden; }
.block.stat .gender ul { font-size: 11px; color: #999; width: 150px; float: left; padding-top: 50px; }
.block.stat .gender ul li { border-bottom: 1px solid #eee; padding-bottom: 2px; }
.block.stat .gender ul li.last { border-bottom: 0; }
.block.stat .gender ul li .mark { width: 8px; height: 8px; float: right; margin-top: 4px; margin-right: 2px; overflow: hidden; border: 1px solid #ddd; }
.block.stat .chart { width: 160px; float: left; }

.block.view ul li { padding-bottom: 2px; }
.block.view ul li a { padding: 2px 4px; }
.block.view ul li.active a { background: #eee; color: #333; font-weight: bold; text-decoration: none; }

.block.view-blogs { margin-top: 77px; }
.block.view-comments { margin-top: 98px; }



/* Update Comments
-------------------------------------------------------------------*/
.update { background: none repeat scroll 0 0; width: 42px; float: right; position: fixed; top: 220px; right: 0; text-align: center; }
.update .tl { background:url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg_update.gif) no-repeat scroll 0 0; font-size: 1px; height: 9px; }
.update .bl { background:url(http://www.bizzona.ru/seminars/templates/skin/new/images/bg_update.gif) no-repeat scroll 0 bottom; font-size: 1px; height: 9px; }
.update .wrapper { border-left: 1px solid #dddede; background: #fafbfb; }
.update .update-comments { cursor: pointer; vertical-align: top; }
.update .refresh { background: #fafbfb; }
.update .new-comments { border-top: 1px solid #ececed; color: #3cc600; padding-top: 7px; margin-top: 3px; cursor: pointer; background: #fafbfb; }



/* Comments
-------------------------------------------------------------------*/
.comments { padding-left: 25px; }
.comments .comment { overflow: hidden; position: relative; zoom: 1; }
.comments .comment .comment { padding-left: 30px; }

/* Header */
.comments .header { margin-bottom: 20px; margin-left: 14px; }
.comments .header a.rss { margin-right: 20px; padding-left: 14px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -247px; }

/* Comment Types */
.comments .comment .content { background: #f7f7f7; } /* default background of comment */
.comments .comment .content.self { background: #fdf5e6 !important; }
.comments .comment .content.new { background: #e4fbf1 !important; }
.comments .comment .content.del { background: #c5c5c5 !important; }
.comments .comment .content.view { background: #cdf5a6 !important; }

/* Single Comment */
.comment .folding { width: 9px; height: 9px; float: left; position: relative; top: 17px; cursor: pointer; }
.comment .folding-open { width: 9px; height: 9px; float: left; position: relative; top: 17px; cursor: pointer; }
.comment .folding.off { display: none; }
.comment .content { margin: 0 50px 0px 13px; padding: 0; }
.comment span.delete { color: #c5c5c5; font-size: 16px; }

/* Rounded Corners */
.comment .content .tb { height: 7px; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-tb.gif) repeat-x; }
.comment .content .tl { height: 7px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-tl.gif) no-repeat left top; }
.comment .content .tr { height: 7px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-tr.gif) no-repeat right top; }
.comment .content .bb { height: 15px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-bb.gif) repeat-x; margin-left: 24px; }
.comment .content .bl { height: 15px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-bl.gif) no-repeat left bottom; }
.comment .content .br { height: 15px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-br.gif) no-repeat right bottom; }

/* Text of Comment */
.comment .content .text { border-left: 1px solid #dddede; border-right: 1px solid #dddede; padding: 5px 25px 5px 10px; overflow: hidden; zoom: 1; }

/* Vote Block */
.comment .voting { width: 48px; height: 30px; position: absolute; right: 20px; top: 8px; z-index: 100; overflow: hidden; }
.comment .voting a.plus { width: 9px; height: 11px; display: block; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll 0px 0px; }
.comment .voting a.minus { width: 9px; height: 11px; display: block; position: relative; top: 5px; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -10px 0px; }
.comment .voting .total { float: right; position: relative; top: 3px; }
.comment .voting a.plus:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -40px 0px; }
.comment .voting a.minus:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -70px 0px; }
.comment .voting.positive .total { color: #390; }
.comment .voting.negative .total { color: #f00; }
.comment .voting.guest a.plus { width: 9px; height: 11px; display: block; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll 0px 0px; }
.comment .voting.guest a.minus { width: 9px; height: 11px; display: block; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -10px 0px; }
.comment .voting.plus a.plus { width: 9px; height: 11px; display: block; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -40px 0px; }
.comment .voting.minus a.minus { width: 9px; height: 11px; display: block; overflow: hidden; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -70px 0px; }

.comment .voting.voted a.plus, .comment .voting.voted a.minus, .comment .voting.guest a.plus, .comment .voting.guest a.minus { cursor:default; }
.comment .voting.minus a.plus:hover {background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll 0px 0px; }
.comment .voting.plus a.minus:hover {background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-voting.gif) no-repeat scroll -10px 0px; }

/* Info Block */
.comment .info { font-size: 11px; line-height: 14px; margin-left: 14px; margin-bottom: 25px; overflow: hidden; zoom: 1; }
.comment .info p { font-size: 10px; }
.comment .info p a.author { font-size: 11px; font-weight: bold; color: #000; text-decoration: none; }
.comment .info p a.author:hover { color: #555; }
.comment .info img.avatar { float: left; margin: 3px 7px 0 0; *margin: 2px 7px 0 0; }

.comment .info ul li { float: left; font-size: 10px; margin-right: 10px; }
.comment .info ul li.date { color: #999; font-size: 10px; padding-right: 20px; }
.comment .info a.imglink { display: block; width: 9px; height: 11px; text-decoration: none; position: relative; top: 3px; }
.comment .info ul li.goto-comment-parent a { text-decoration: none; border-bottom: 1px dotted #79B1D4; font-family: tahoma;}
.comment .info ul li.goto-comment-child a { text-decoration: none; border-bottom: 1px dotted #79B1D4; font-family: tahoma;}
.comment .info a.link { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -230px; }
.comment .info a.link:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0px -230px; }

.comment .info li.favorite a{ background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -40px; width: 10px; height:8px;margin-top:4px; display: block; outline-style:none;}
.comment .info li.favorite a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -50px -40px; }
.comment .info li.favorite.active a{ background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -50px -40px; }

.comment .info a.off { color: #999; }
.comment .info a.repair { color: #4CCC1B; }
.comment .info a.delete { color: #f00; }

.comment .comment-topic { font-size: 11px; color: #999; padding-bottom: 3px; padding-left: 2px; }
.comment .comment-topic a { font-weight: bold; }
.comment .comment-topic a.comment-blog { color: #999; }
.comment .comment-topic a.comment-total { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/comment-total.gif) no-repeat 0 4px; padding-left: 10px; margin-left: 10px; text-decoration: none; font-weight: normal; color: #78c658; }

.comments.padding-none { padding-left: 0; }
.comments.padding-none .comment .content, .comments.padding-none .comment .info { margin-left: 0; }
.comments.padding-none .voting { top: 28px; }

.reply-title { margin-left: 10px; }
.reply { padding: 0 50px 10px 10px; }
.reply textarea { width: 100%; height: 70px; }
.reply textarea.loader { background: #F7F7F7 url(http://www.bizzona.ru/seminars/templates/skin/new/images/loader.gif) no-repeat center;}


/* Polls
---------------------------------- */
.poll { margin: 0 0 15px 0 !important; }
.poll li { list-style: none !important; }
.poll li dl { overflow: hidden; }
.poll li dl dt { float: left; font-weight: normal !important; color: #999; font-size: 11px; width: 50px; }
.poll li dl dt span { font-size: 12px; color: #333; }
.poll li dl dd { float: left; font-style: normal !important; width: 70%; }
.poll li dl dd div { margin-top: 3px; height: 5px; background: #ddd url(http://www.bizzona.ru/seminars/templates/skin/new/images/poll.gif) no-repeat; overflow: hidden; }
.poll li dl dd div span { display: block; margin-left: 10px; height: 5px; background: #ddd url(http://www.bizzona.ru/seminars/templates/skin/new/images/poll.gif) no-repeat right top; overflow: hidden; }

.poll li.most dl dt span { font-weight: bold; }
.poll li.most dl dd div { background: #390 url(http://www.bizzona.ru/seminars/templates/skin/new/images/poll-most.gif) no-repeat !important; }
.poll li.most dl dd div span { background: #390 url(http://www.bizzona.ru/seminars/templates/skin/new/images/poll-most.gif) no-repeat right top !important; }

.poll-new { margin: 0 0 15px 0 !important; }
.poll-new li { list-style: none !important; margin-bottom: 5px; }
.poll-new li input { position: relative; top: 2px; *top: 1px; margin-right: 3px; }


/* Profile of Blog
-------------------------------------------------------------------*/
.profile-blog { padding: 0 15px 0 8px; overflow: hidden; position: relative; }
.profile-blog img.avatar { float: left; position: absolute; top: 4px; left: 10px; }
.profile-blog h1.title { font-size: 24px; line-height: 30px; color: #b0b0b0; padding-left: 33px; }
.profile-blog h1.title a.title-link { text-decoration: none; outline: none; }
.profile-blog h1.title a.title-link span { border-bottom: 1px dashed #70aae0; }
.profile-blog h1.title a.inactive span { border-bottom: 1px dashed #aaa; color: #b0b0b0; text-decoration: none; }
.profile-blog h1.title strong { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/profile-blog-info.gif) no-repeat scroll 0px 6px; padding-right: 12px; margin-left: 7px; }
.profile-blog h1.title a.inactive strong { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/profile-blog-info-inactive.gif) no-repeat scroll 0px 6px;  }

.profile-blog .action { overflow: hidden; margin: 0 0 20px 0; padding-left: 34px; zoom: 1; }
.profile-blog .action li { float: left; margin-right: 3px; }
.profile-blog .action li a { color: #aaa; outline: none; }
.profile-blog .action li.rss a { display: block; height: 10px; width: 10px; background:  url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -250px; }
.profile-blog .action li.join a { display: block; height: 10px; width: 10px; background:  url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -250px; }
.profile-blog .action li.join a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -250px; }
.profile-blog .action li.join.active a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -250px; }
.profile-blog .action li.edit a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/edit.gif) no-repeat 0 1px; padding-left: 15px; position: relative; top: -4px; margin-left: 10px; text-decoration: none; font-size: 11px; color: #70aae0; }
.profile-blog .action li.delete a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/delete.gif) no-repeat 0 1px; padding-left: 15px; margin-left: 10px; position: relative; top: -4px; text-decoration: none; font-size: 11px; color: #f00; }
.profile-blog .action li a:hover { text-decoration: underline; }

.profile-blog .voting { float: right; font-size: 10px; text-align: center; position: relative; top: -5px; }
.profile-blog .voting .clear { clear: both; color: #aaa; }
.profile-blog .voting .count { position: absolute; top: 46px; left: 69%; color: #aaa; }
.profile-blog .voting .text { position: absolute; top: 46px; right: 33%; color: #aaa; }
.profile-blog .voting .plus { float: left; margin-right: 5px; }
.profile-blog .voting .total { float: left; margin-right: 5px; color: #fff; padding: 5px 10px; font-size: 14px; }
.profile-blog .voting .minus { float: left; margin-right: 0; }
.profile-blog .voting a.plus  { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; float: left; display: block; height: 11px; margin-top: 8px; text-decoration: none; width: 9px; }
.profile-blog .voting a.plus:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -90px; }
.profile-blog .voting a.minus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; float: left; display: block; height: 11px; margin-top: 9px; text-decoration: none; width: 9px; }
.profile-blog .voting a.minus:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -90px; }
.profile-blog .voting.plus a.plus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -90px; }
.profile-blog .voting.minus a.minus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -90px; }
.profile-blog .voting.guest a.plus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; cursor: default; }
.profile-blog .voting.guest a.minus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; cursor: default; }
.profile-blog .voting.positive .total { background: #68bf46; }
.profile-blog .voting.negative .total { background: #ff3b3c; }
.profile-blog .voting.voted a.plus { cursor: default; }
.profile-blog .voting.voted a.minus { cursor: default; }
.profile-blog .voting.voted.plus a.minus:hover { cursor: default; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; }
.profile-blog .voting.voted.minus a.plus:hover { cursor: default; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; }

.profile-blog .about { background: #f4f4f6; margin-bottom: 40px; clear: both; }

.profile-blog .about .tl { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/profile-blog-tl.gif) no-repeat left top; height: 10px; }
.profile-blog .about .tr { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/profile-blog-tr.gif) no-repeat right top; height: 10px; }
.profile-blog .about .bl { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/profile-blog-bl.gif) no-repeat left bottom; height: 10px; }
.profile-blog .about .br { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/profile-blog-br.gif) no-repeat right bottom; height: 10px; }

.profile-blog .about .content { padding: 5px 32px; color: #666; overflow: hidden; }
.profile-blog .about .content h1 { color: #555; }
.profile-blog .about .content p { margin-bottom: 15px; }
.profile-blog .about .content p.note { color: #aaa; margin-bottom: 25px; }

.profile-blog .about .content .line { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/footer-bg.gif) repeat-x; height: 5px; margin-bottom: 20px; clear: both; }

.profile-blog .about .content .admins { float: left; width: 50%; }
.profile-blog .about .content .moderators { float: left; width: 50%; }
.profile-blog .about .content ul.admin-list { overflow: hidden; text-align: center; }
.profile-blog .about .content ul.admin-list li { float: left; margin-right: 10px; margin-bottom: 10px; }
.profile-blog .about .content ul.admin-list li dt img { width: 48px; height: 48px; }

.profile-blog .about .content h1.readers { clear: both; padding-top: 35px; }
.profile-blog .about .content h1.readers a { text-decoration: none; border-bottom: 1px dashed #70aae0; }
.profile-blog .about .content h1.readers a.inactive { border-bottom: 1px dashed #aaa; color: #b0b0b0; text-decoration: none;}

.profile-blog .about .content ul.reader-list { overflow: hidden; }
.profile-blog .about .content ul.reader-list li { float: left; margin-right: 15px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -104px; padding-left: 12px; }


/* Profile of user
-------------------------------------------------------------------*/
.profile-user { padding-right: 20px; }

.profile-user .voting { float: right; font-size: 10px; position: relative; top: -5px; }
.profile-user .voting .clear { clear: both; color: #aaa; text-align: center;  }
.profile-user .voting .count { position: absolute; top: 46px; left: 69%; color: #aaa; }
.profile-user .voting .text { position: absolute; top: 46px; right: 33%; color: #aaa; }
.profile-user .voting .plus { float: left; margin-right: 5px; }
.profile-user .voting .total { float: left; margin-right: 5px; color: #fff; padding: 5px 10px; font-size: 14px; }
.profile-user .voting .minus { float: left; margin-right: 0; }
.profile-user .voting a.plus  { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; float: left; display: block; height: 11px; margin-top: 8px; text-decoration: none; width: 9px; }
.profile-user .voting a.plus:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -90px; }
.profile-user .voting a.minus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; float: left; display: block; height: 11px; margin-top: 9px; text-decoration: none; width: 9px; }
.profile-user .voting a.minus:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -90px; }
.profile-user .voting.plus a.plus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -40px -90px; }
.profile-user .voting.minus a.minus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -70px -90px; }
.profile-user .voting.guest a.plus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; cursor: default; }
.profile-user .voting.guest a.minus { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; cursor: default; }
.profile-user .voting.positive .total { background: #68bf46; }
.profile-user .voting.negative .total { background: #ff3b3c; }
.profile-user .voting.voted a.plus { cursor: default; }
.profile-user .voting.voted a.minus { cursor: default; }
.profile-user .voting.voted.plus a.minus:hover { cursor: default; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -90px; }
.profile-user .voting.voted.minus a.plus:hover { cursor: default; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -90px; }

.profile-user .strength { float: right; font-size: 10px; text-align: center; position: relative; top: -5px; margin-left: 15px; }
.profile-user .strength .clear { clear: both; color: #aaa; }
.profile-user .strength .total { float: left; color: #fff; padding: 5px 10px; font-size: 14px; background: #70aae0; }

.profile-user h1.title { border-bottom: 1px solid #ccc; font-size: 18px; padding: 0 0 1px 2px; margin-bottom: 7px; }

.profile-user .name { overflow: hidden; color: #999;  margin-bottom: 20px; }
.profile-user .name img.avatar { float: left; margin-right: 15px; }
.profile-user .name p.nickname { font-size: 24px; margin-top: 2px; margin-bottom: 10px; color: #333; }
.profile-user .name p.realname { font-size: 18px; margin-bottom: 15px; }

.profile-user td { vertical-align: top; }
.profile-user td.var { color: #999; font-weight: bold; width: 150px; padding: 0 0 5px; }
.profile-user td.friends { color: #999; }
.profile-user td.friends a { color: #999; padding: 5px 0; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -101px; padding-left: 12px; }


/* People & Top
-------------------------------------------------------------------*/
.people .block-nav { margin-bottom: 20px; }
.people h1 span { color: #6ec80d; }
.people table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
.people table thead td { background: #f0f1f1; font-weight: bold; padding: 5px 0; }
.people table thead td.user { padding-left: 10px; }
.people table thead td.strength, .people table thead td.rating { width: 80px; text-align: center; }
.people table thead td.date { width: 150px; text-align: center; }
.people table tbody td { padding: 5px 0; font-size: 11px; color: #999; border-bottom: 1px solid #ddd; }
.people table tbody td span { color: #6ec80d; }
.people table tbody td.user { padding-left: 10px; overflow: hidden; _height: 1%; }
.people table tbody td.user img { float: left; margin-right: 7px; width: 24px; height: 24px; }
.people table tbody td.user a.link { color: #999; font-weight: bold; position: relative; top: 1px; }
.people table tbody td.karma { color: #6ec80d; font-weight: bold; }
.people table tbody td.strength { color: #70aae0; font-weight: bold; text-align: center; }
.people table tbody td.date { text-align: center; }
.people table tbody td.rating { text-align: center; }
.people table tbody td.rating span { padding-right: 12px; }
.people table tbody td.rating.up span { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/blog-rating-up.gif) no-repeat right 3px; }
.people table tbody td.rating.down span { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/blog-rating-down.gif) no-repeat right 3px; }
.people table tbody td.rating strong { background: #ff68cf; color: #fff; padding: 5px 10px; }

.people.top-blogs thead td.user { padding-left: 32px; }
.people.top-blogs thead td.join-head { width: 40px; text-align: center; }
.people.top-blogs thead td.readers, .people.top-blogs tbody td.readers { width: 100px; text-align: center; }
.people.top-blogs tbody td { padding: 7px 0; }
.people.top-blogs td.name { overflow: hidden; }
.people.top-blogs td.name img { float: left; padding-bottom: 5px; margin-right: 7px; width: 24px; height: 24px; }
.people.top-blogs td.name a.title { font-size: 18px; line-height: 14px; }
.people.top-blogs td.name a.title.close { font-size: 18px; line-height: 14px; padding-right: 20px; background:url(http://www.bizzona.ru/seminars/templates/skin/new/images/key.png) no-repeat right 5px;  }
.people.top-blogs td.name a.author { line-height: 18px; background:url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -108px; padding-left: 12px; color: #999; font-weight: bold; }
.people.top-blogs .join { text-align: center; }
.people.top-blogs .join a { margin: 0 auto; outline: none; display: block; height: 10px; width: 10px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -250px; zoom: 1; }
.people.top-blogs .join a:hover { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -250px; }
.people.top-blogs .join.active a { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll -10px -250px !important; }

.people.top-blogs thead td.fav-head { width: 40px; text-align: center; }
.people.top-blogs .fav { text-align: center; }
.people.top-blogs .fav a { margin: 0 auto; display: block; height: 10px; width: 10px; background: url() no-repeat; }
.people.top-blogs .fav a:hover { background: url() no-repeat; }
.people.top-blogs .fav.active a { background: url() no-repeat; }
.people.talk-table thead td.user { padding-left: 10px; }
.people.talk-table .author { margin-left: 10px; }
.people.talk-table .inactive { color: #cfcfcf !important; }



/* Top
-------------------------------------------------------------------*/
.topic.top { margin-bottom: 5px; padding-left: 40px; }
.topic.top h1 span { color: #6ec80d; }
.topic.top .block-nav { margin-bottom: 5px; }
.top-topics .topic { padding-left: 0 !important; }


/* Profiler
-------------------------------------------------------------------*/
a.profiler                 { margin: 2px; padding: 4px; text-decoration: none; }
a.profiler.active          { background: #70aae0; color: white; }
.profiler.entries          { margin-top: 4px; }
.profiler-table            { padding-left: 25px; }
.profiler-table .has-child { background:#e8e8e8; }
.profiler-table .filter    { background:#ffb5c5; }
.profiler-highlight        { margin: 0px; text-align:center; background: #dafad8; border: 1px solid #83c460; padding: 2px; color: #4bb23b; }

/* Plugins
-------------------------------------------------------------------*/

.plugins thead td.name { padding-left: 32px; }
.plugins thead td.version, .plugins td.version { width: 40px; text-align: center; }
.plugins thead td.author, .plugins td.author, .plugins tbody td.action { width: 120px; text-align: center; }
.plugins tbody td { padding: 7px 0; vertical-align: top; }
.plugins td.name { overflow: hidden; }
.plugins td.name img { float: left; padding-bottom: 5px; margin-right: 7px; width: 24px; height: 24px; }
.plugins td.name a.title { font-size: 18px; line-height: 14px; }
.plugins td.name a.author { line-height: 18px; background:url(http://www.bizzona.ru/seminars/templates/skin/new/images/icons.gif) no-repeat scroll 0 -108px; padding-left: 12px; color: #999; font-weight: bold; }
.plugins td.activate, .plugins td.deactivate { width: 120px; text-align: right; vertical-align: top; }
.plugins td.activate strong  { background: #6ec80d; color: #fff; padding: 5px 10px; }
.plugins td.deactivate strong { background: #ff68cf; color: #fff; padding: 5px 10px; }
.plugins td.activate strong a, .plugins td.deactivate strong a { color: white; text-decoration: none; }


/* Footer
-------------------------------------------------------------------*/
#footer .right { float: right; }

.lsCmtTree_visible{display:block;}
.lsCmtTree_hidden{display:none;}



/* Login and Lite Pages
-------------------------------------------------------------------*/
.lite-header { padding: 30px 20px; }
.lite-header a { color: #c7c7c7; font-size: 26px; text-decoration: none; }
.lite-header a span { color: #dedede; }
.lite-header a:hover { color: #333; }
.lite-header a:hover span { color: #777; }

.lite-center { margin: 0 auto 20px; top: 200px;  width: 400px; color: #888; }
.lite-center h3, .login-popup h3 { color: #bec0bf; margin-bottom: 20px; }
.lite-center button, .login-popup button { float: right; }
.lite-center .input-text, .login-popup .input-text { width: 400px; font-size: 18px; padding: 4px 0; border: 1px solid #d7d7d7; color: #555; }
.lite-center .input-checkbox, .login-popup .input-checkbox { padding-top: 7px; }
.lite-center .input-checkbox input, .login-popup .input-checkbox input { position: relative; top: 2px; }
.lite-center .input-note { display: block; color: #bbb; font-size: 11px; line-height: 14px; }

.lite-center.error h1 { font-size: 28px; color: #888; }
.lite-center.error p { margin-bottom: 10px; color: #888; }

.lite-center.register { position: static; margin: 0 auto; }

.lite-note { overflow: hidden; zoom: 1; }
.lite-note a { float: right; font-size: 11px; }

.login-popup { z-index: 100; width: 492px;  }
.login-popup .input-text { width: 402px; padding: 4px 5px; }
.login-popup .content { background: #dcdedd url(http://www.bizzona.ru/seminars/templates/skin/new/images/login-popup-bg.gif) repeat-x; padding: 15px 40px; }
.login-popup .login-popup-top { height: 14px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/login-popup-top.gif) no-repeat; width: 492px; position: relative; }
.login-popup .login-popup-bottom { height: 14px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/login-popup-bottom.gif) no-repeat; width: 492px; }
.login-popup .close-block { position: absolute; top: 10px; right: 10px; width: 14px; height: 14px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/close-block.gif) no-repeat; }

.upload-image p { margin-bottom: 5px; }
.upload-image label { color: #aaa; }

.tags-input { width: 400px; font-size: 18px; padding: 4px 4px 6px; border: 1px solid #ccc; color: #555; background: #fafafa; }



/* Button
-------------------------------------------------------------------*/
button, a.button { font-size: 14px; font-family: Tahoma, sans-serif; border: none; background: none; padding: 0; overflow: visible; text-align: center; white-space: nowrap; cursor: pointer; }
button span, button em, a.button span, a.button em { display: block; height: 31px; line-height: 31px; margin: 0; color:#333; }
button span, a.button span { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/button.gif) no-repeat 0 0; margin-right: 20px; }
button em, a.button em { font-style: normal; padding-right: 20px; background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/button.gif) no-repeat right 0; position: relative; right: -20px; }
a.button.small { font-size: 12px; text-decoration: none; }
a.button.small span, a.button.small em { height: 22px; line-height: 22px; }
a.button.small span { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/button-small.gif) no-repeat 0 0; margin-right: 20px; }
a.button.small em { background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/button-small.gif) no-repeat right 0; _padding-left: 10px; }

#system_messages_error { background: #f0c8c8; border: 1px solid #ff8181; padding: 15px; margin-bottom: 15px; color: #b22626; }
#system_messages_notice { background: #dafad8; border: 1px solid #83c460; padding: 15px; margin-bottom: 15px; color: #4bb23b; }

.table-blog-users { width: 100%; margin-top: 20px; margin-bottom: 30px; }
.table-blog-users thead td { background: #f1f1f1; padding: 10px; text-align: center; color: #555; }
.table-blog-users tbody td { background: #fafafa; padding: 5px 10px; text-align: center; }
.table-blog-users tbody td.username { text-align: left; }
.table-blog-users tbody tr.even td { background: #f5f5f5; }

.searched-item { background: #fffacd; }



/* Static page edit 
-------------------------------------------------------------------*/ 
table.admin_page th {vertical-align:bottom; border: none;  border-bottom: solid #B0C1D3 1px;  padding:.2em .6em .2em .65em; background:#e2e4e4; font-size:0.9em; font-weight:normal; color:#6e6e6e;  } 
table.admin_page td { padding:6px 8px 6px 8px; border: none; border-right: solid #B0C1D3 1px; } 
table.admin_page tr.colored td { background-color:#EEF6FB; } 
table.admin_page tr.colored_sel td { background-color:#D9FBC2; } 
table.admin_page { font-size:0.9em;  border:none;  margin:20px 0px 30px 0px; border-bottom:solid 1px #B0C1D3; }   
table.admin_page td:first-child { border-left: solid #B0C1D3 1px } 
table.admin_page td  {  /* IE: */ border-left: expression(previousSibling == null ? 'solid #B0C1D3 1px' : 'inherit'); } 


.hidden {display: none;}


/* Stat
-------------------------------------------------------------------*/ 
.stat-performance { padding: 20px; background: #f0f7fd; border-top: 1px solid #d1e7f9; color: #333; }
.stat-performance table { margin-top: 15px; }
.stat-performance table td { width: 200px; vertical-align: top; }
.stat-performance h4 { font-weight: bold; color: #81B2DB; }











/*
ошибки
*/
.roar-error-body
{
	position:				absolute;
	font:					12px/14px "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	color:					#fff;
	text-align:				left;
	z-index:				999;
}

.roar-error
{
	position:				absolute;
	width:					300px;
	cursor:					pointer;
}
.roar-error-bg
{
	position:				absolute;
	z-index:				1000;
	width:					100%;
	height:					100%;
	left:					0;
	top:					0;
	background-color:		#f00;
	-moz-border-radius:		10px;
	-webkit-border-radius:	5px;
	-webkit-box-shadow:		0 0 5px rgba(0, 0, 0, 0.5);
}
.roar-error-body-ugly .roar-error
{
	background-color:		#bf0000;
}
.roar-error-body-ugly .roar-error-bg
{
	display:				none;
}
.roar-error h3
{
	position:				relative;
	padding:				15px 10px 0;
	margin:					0;
	border:					0;
	font-size:				15px;
	color:					#fff;
	z-index:				1002;
}
.roar-error p
{
	position:				relative;
	padding:				10px 10px 15px;
	margin:					0;
	font-size:				12px;
	color:					#fff;
	z-index:				1002;
}



/*
алерт
*/
.roar-notice-body
{
	position:				absolute;
	font:					12px/14px "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	color:					#fff;
	text-align:				left;
	z-index:				999;
}

.roar-notice
{
	position:				absolute;
	width:					300px;
	cursor:					pointer;
}
.roar-notice-bg
{
	position:				absolute;
	z-index:				1000;
	width:					100%;
	height:					100%;
	left:					0;
	top:					0;
	background-color:		#399f2f;
	-moz-border-radius:		10px;
	-webkit-border-radius:	5px;
	-webkit-box-shadow:		0 0 5px rgba(0, 0, 0, 0.5);
}
.roar-notice-body-ugly .roar-notice
{
	background-color:		#399f2f;
}
.roar-notice-body-ugly .roar-notice-bg
{
	display:				none;
}
.roar-notice h3
{
	position:				relative;
	padding:				15px 10px 0;
	margin:					0;
	border:					0;
	font-size:				15px;
	color:					#fff;
	z-index:				1002;
}
.roar-notice p
{
	position:				relative;
	padding:				10px 10px 15px;
	margin:					0;
	font-size:				12px;
	color:					#fff;
	z-index:				1002;
}.pieChartContainer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding:20px 0 0 15px;
}

.pieChartWrapper {
	float: left;
	position: relative;
	padding-right: 12px;
}
	
.pieChartWrapper img {
	position: absolute;
	top: 0;
	left: 0;			
}
	
.clear {
	clear: both;
}ul.autocompleter-choices
{
	position:				absolute;
	margin:					0;
	padding:				0;
	list-style:				none;
	border:					1px solid #bbb;
	background-color:		#fff;
	text-align:				left;
	font-family:			Verdana, Arial, Geneva, Helvetica, sans-serif;
	z-index:				50;
	background-color:		#fff;
	color: 					#333;
}

ul.autocompleter-choices li
{
	position:				relative;
	margin:					-2px 0 0 0;
	padding:				0.2em 1.5em 0.2em 1em;
	display:				block;
	float:					none !important; 
	cursor:					pointer;
	font-weight:			normal;
	white-space:			nowrap;
	font-size:				11px;
	line-height:			16px;
}

ul.autocompleter-choices li.autocompleter-selected
{
	background-color:		#0a246a;
	color:					#fff;
}

ul.autocompleter-choices span.autocompleter-queried
{
	display:				inline;
	float:					none;
	font-weight:			bold;
	margin:					0;
	padding:				0;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
{
	color:					#fff60b;
}

input.autocompleter-loading
{
	background-image:		url(http://www.bizzona.ru/seminars/templates/skin/new/images/spinner.gif);
	background-repeat:		no-repeat;
	background-position:	right 50%;
}.str{color:#080}.kwd{color:#008}.com{color:#800}.typ{color:#606}.lit{color:#066}.pun{color:#660}.pln{color:#000}.tag{color:#008}.atn{color:#606}.atv{color:#080}.dec{color:#606}pre.prettyprint{padding:2px;border:1px solid #888}@media print{.str{color:#060}.kwd{color:#006;font-weight:bold}.com{color:#600;font-style:italic}.typ{color:#404;font-weight:bold}.lit{color:#044}.pun{color:#440}.pln{color:#000}.tag{color:#006;font-weight:bold}.atn{color:#404}.atv{color:#060}}  /***************/
 /* vlaCalendar */
/***************/

/* Picker */

.vlaCalendarPicker {
	position: absolute;
	z-index: 999;
	
	margin-top: -5px;
	margin-left: -2px;
	
	display: none;
}

.vlaCalendarPicker .pickerBackground {
	background: transparent url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/calendar_background.png) no-repeat top center;
	padding: 16px;
	height: 130px;
	width: 166px;
	overflow: hidden;
}

/* Background for IE6 - code does not validate as it is a hack */
*html .vlaCalendarPicker .pickerBackground {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/calendar_background.gif);
}

/* Main calendar */

.vlaCalendar, .vlaCalendar table {
	font-family: calibri, arial !important;
	color: black;
	font-size: 12px !important;
}

.vlaCalendar {
	display: block;
	width: 164px;
	line-height: 14px !important;
}
.vlaCalendar .container, .vlaCalendar .container div {
	width: 164px;
	height: 130px;
	text-align: left;
	position: absolute;
	overflow: hidden;
}

.vlaCalendar span.indication {
	display: block;
	text-align: center;
}

.vlaCalendar table {
	margin-top: 8px;
	text-align: right;
	border-collapse: collapse;
	background-color: white; /* <- IE ugly text in transition fix  */
}

.vlaCalendar .picker td {
	cursor: pointer;
}

/* Label & arrows */

.vlaCalendar .label:hover {
	color: #0066cc;
	cursor: pointer;
}
.vlaCalendar .noHover:hover {
	color: black;
	cursor: default;
}

.vlaCalendar .arrowLeft, .vlaCalendar .arrowRight {
	background: transparent url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/arrowleft.gif) no-repeat center;
	height: 12px;
	width: 10px;
	cursor: pointer;
}
.vlaCalendar .arrowLeft {
	margin-left: 5px;
	float: left;
}
.vlaCalendar .arrowLeft:hover {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/arrowleft_hover.gif);
}
.vlaCalendar .arrowRight {
	margin-right: 5px;
	float: right;
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/arrowright.gif);
}
.vlaCalendar .arrowRight:hover {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/arrowright_hover.gif);
}

/* Month */

.vlaCalendar .month th {
	text-align: center;
	font-weight: normal;
	width: 24px;
	padding-bottom: 1px;
	border-bottom: 1px solid #f5f5f5;
}

.vlaCalendar .month td {
	padding-right: 3px;
	height: 15px;
}

.vlaCalendar .month tr.firstRow td {
	padding-top: 2px;
}

.vlaCalendar .month td:hover {
	background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/day_hover.gif) bottom no-repeat;
	color: #0066cc;
}

.vlaCalendar .month td.selected {
	background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/day_selected.gif) bottom no-repeat;
	color: #0066cc;
}
.vlaCalendar .month td.selected:hover {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/day_selected_hover.gif);
}

.vlaCalendar .month td.outsideDay {
	color: #a8a8a8;
}
.vlaCalendar .month td.outsideDay:hover {
	color: #b1c5fc;
}

/* Year & decade */

.vlaCalendar .year {
	margin-left: 2px;
}

.vlaCalendar .year td {
	width: 40px;
	height: 35px;
	text-align: center;
	cursor: pointer;
}
.vlaCalendar .year td:hover {
	background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_hover.gif) center no-repeat;
	color: #0066cc;
}

.vlaCalendar .year td.selected {
	background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_selected.gif) center no-repeat;
}
.vlaCalendar .year td.selected:hover {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_selected_hover.gif);
}

.vlaCalendar .year td.current {
	background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_current.gif) center no-repeat;
	color: #0066cc;
}
.vlaCalendar .year td.current:hover {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_current_hover.gif);
}

.vlaCalendar .year td.selectedcurrent {
	background: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_selectedcurrent.gif) center no-repeat;
}
.vlaCalendar .year td.selectedcurrent:hover {
	background-image: url(http://www.bizzona.ru/seminars/templates/skin/new/images/datepicker/month_selectedcurrent_hover.gif);
}

.vlaCalendar .year td.outsideYear {
	color: #a8a8a8;
}
.vlaCalendar .year td.outsideYear:hover {
	color: #b1c5fc;
}